Repository rancher/turtles, pull requests merged in 2023-09, with the labels that each got.

#87 :bug: Allow rancher cluster to be deleted from UI
  internal/controllers/import_controller.go
  internal/controllers/import_controller_test.go
  util/naming/name_converter.go
  util/naming/name_converter_test.go
Labels: kind/bug

#96 📖 Add CONTRIBUTING guide
  CONTRIBUTING.md
  Makefile
  README.md
  docs/adr/0000-template.md
  docs/adr/0001-use-adrs.md
  docs/adr/0002-use-helm.md
  docs/adr/0003-deletion-strategy.md
  hack/generate-doctoc.sh
Labels: kind/documentation

#99 🌱 Add copyright headers to all files
  hack/ensure-golangci-lint.sh
  hack/ensure-kubectl.sh
  hack/make-release-notes.sh
  hack/utils.sh
  internal/controllers/import_controller.go
  internal/controllers/import_controller_test.go
  internal/controllers/suite_test.go
  internal/controllers/testdata/data.go
  internal/rancher/cluster.go
  internal/rancher/cluster_test.go
  internal/rancher/clusterregistrationtoken.go
  internal/rancher/clusterregistrationtoken_test.go
  internal/rancher/suite_test.go
  internal/test/cleanup.go
  internal/test/crdbuilder.go
  internal/test/envtest.go
  main.go
  scripts/go-install.sh
  scripts/turtles-dev.sh
  util/annotations/helpers.go
  util/annotations/helpers_test.go
  util/naming/name_converter.go
  util/naming/name_converter_test.go
  util/predicates/cluster_predicates.go
  util/predicates/cluster_predicates_test.go
Labels: kind/cleanup

#98 📖 Add code of conduct
  README.md
  code-of-conduct.md
Labels: kind/documentation

#95 ADR: Running out of Rancher Manager cluster
  docs/adr/0004-running-out-of-rancher-manager-cluster.md
Labels: kind/documentation

#82 Support out-of-cluster installation
  internal/controllers/import_controller.go
  internal/controllers/import_controller_test.go
  main.go
Labels: kind/feature

#70 Introduce new predicates
  internal/controllers/import_controller.go
  util/predicates/cluster_predicates.go
  util/predicates/cluster_predicates_test.go
  util/predicates/suite_test.go
  util/util.go
Labels: kind/feature

#93 Add CAPI operator as a dependency to chart
  .github/workflows/test_chart.yaml
  Makefile
  charts/rancher-turtles/Chart.lock
  charts/rancher-turtles/Chart.yaml
  charts/rancher-turtles/values.yaml
  test/e2e/e2e_suite_test.go
Labels: kind/feature

#103 docs: add adr for import strategy
  docs/adr/0000-template.md
  docs/adr/0001-use-adrs.md
  docs/adr/0002-use-helm.md
  docs/adr/0003-deletion-strategy.md
  docs/adr/0004-running-out-of-rancher-manager-cluster.md
  docs/adr/0006-import-strategy.md
  hack/generate-doctoc.sh
Labels: kind/documentation, size/xs

#107 🌱 Remove CONTRIBUTING guide contents and refer to the one from the docs repo
  CONTRIBUTING.md
  hack/generate-doctoc.sh
Labels: kind/chore

#112 docs: rancher integration strategy adr
  docs/adr/0005-rancher-integration-strategy.md
  docs/adr/0006-import-strategy.md
Labels: kind/documentation, size/xs

#110 🐛 Fix cluster connectivity check on mac
  test/e2e/import_test.go
Labels: kind/bug

#84 🌱 Use structured rancher proxy types
  .gitignore
  Makefile
  go.mod
  internal/controllers/import_controller.go
  internal/controllers/import_controller_test.go
  internal/controllers/suite_test.go
  internal/rancher/cluster.go
  internal/rancher/cluster_test.go
  internal/rancher/clusterregistrationtoken.go
  internal/rancher/clusterregistrationtoken_test.go
  internal/rancher/doc.go
  internal/rancher/management/v3/clusterregistrationtoken.go
  internal/rancher/management/v3/doc.go
  internal/rancher/management/v3/groupversion_info.go
  internal/rancher/management/v3/zz_generated.deepcopy.go
  internal/rancher/provisioning/v1/cluster.go
  internal/rancher/provisioning/v1/doc.go
  internal/rancher/provisioning/v1/groupversion_info.go
  internal/rancher/provisioning/v1/zz_generated.deepcopy.go
  internal/rancher/suite_test.go
  internal/test/crdbuilder.go
  internal/test/envtest.go
  main.go
  test/e2e/e2e_suite_test.go
  test/e2e/import_test.go
Labels: kind/cleanup, area/api

#115 🌱 Bump CAPI/CAPI Operator to v1.5.1/v0.6.0
  go.mod
  go.sum
  test/e2e/README.md
  test/go.mod
  test/go.sum
Labels: area/dependency, kind/chore

#109 ✨ Install CAPI using operator after chart is installed
  .github/workflows/test_chart.yaml
  README.md
  charts/rancher-turtles/templates/core-provider.yaml
  charts/rancher-turtles/templates/kubeadm-bootstrap.yaml
  charts/rancher-turtles/templates/kubeadm-control-plane.yaml
  charts/rancher-turtles/values.yaml
  test/e2e/e2e_suite_test.go
  test/e2e/helpers_test.go
  test/e2e/resources/config/capi-providers-secret.yaml
  test/e2e/resources/config/capi-providers.yaml
Labels: kind/enhancement, kind/feature

#125 fix: use rancherClient in reconcileNormal for out of cluster support
  internal/controllers/import_controller.go
Labels: kind/bug

#111 chore: disable link checker for the template
  docs/adr/0000-template.md
Labels: kind/chore, size/xs

#123 🐛 Fix connectivity check order of the args, pin core version to 1.4.6
  README.md
  go.work.example
  test/e2e/README.md
  test/e2e/config/operator.yaml
  test/e2e/e2e_suite_test.go
  test/e2e/import_test.go
Labels: kind/bug

#122 🌱 Add turtlesnaming to linter package
  .golangci.yml
Labels: kind/cleanup

#137 Run e2e tests on every PR in an isolated environment
  .github/workflows/e2e-every-pr.yaml
  .github/workflows/e2e-nightly-full.yaml
  Makefile
  charts/rancher-turtles/templates/deployment.yaml
  charts/rancher-turtles/templates/rancher-turtles-components.yaml
  charts/rancher-turtles/values.yaml
  config/chart/kustomization.yaml
  config/chart/manager_pull_policy.yaml
  config/namespace/kustomization.yaml
  config/namespace/namespace.yaml
  internal/controllers/import_controller.go
  main.go
  test/e2e/e2e_suite_test.go
  test/e2e/helpers_test.go
  test/e2e/resources/config/nginx-ingress.yaml
Labels: kind/feature

#138 refactor: change e2e tests so its easy to add providers and uses local git
  .dockerignore
  Makefile
  test/e2e/config/operator.yaml
  test/e2e/data/capi-operator/capi-providers-secret.yaml
  test/e2e/data/capi-operator/capi-providers.yaml
  test/e2e/data/cluster-templates/docker-kubeadm.yaml
  test/e2e/data/gitea/values.yaml
  test/e2e/data/rancher/ingress-class-patch.yaml
  test/e2e/data/rancher/ingress.yaml
  test/e2e/data/rancher/nginx-ingress.yaml
  test/e2e/data/rancher/rancher-service-patch.yaml
  test/e2e/data/rancher/rancher-setting-patch.yaml
  test/e2e/e2e_suite_test.go
  test/e2e/helpers_test.go
  test/e2e/import_gitops.go
  test/e2e/import_gitops_test.go
  test/e2e/import_test.go
  test/e2e/resources/testdata/fleet-capi-test.yaml
  test/framework/clusterctl_helper.go
  test/framework/command_helper.go
  test/framework/const.go
  test/framework/doc.go
  test/framework/fleet_helper.go
  test/framework/git_helper.go
  test/framework/gitea_helper.go
  test/framework/helper.go
  test/framework/kube_helper.go
  test/framework/rancher_helpers.go
  test/go.mod
  test/go.sum
Labels: kind/refactor

#142 ✨ Push to prime registry on release workflow run
  .github/workflows/release.yaml
  Makefile
Labels: kind/feature

#135 ✨ Add nightly chart and image publish GH workflow
  .github/workflows/nightly-chart-and-image-publish.yaml
Labels: kind/feature

#140 Split E2E test workflows
  .github/workflows/e2e-long.yaml
  .github/workflows/e2e-short.yaml
  test/e2e/data/rancher/nginx-ingress.yaml
  test/e2e/e2e_suite_test.go
Labels: kind/feature

#145 feat: add CAPA e2e test
  .github/workflows/e2e-long.yaml
  .github/workflows/e2e-short.yaml
  Makefile
  test/e2e/config/operator.yaml
  test/e2e/data/capi-operator/capi-providers-secret.yaml
  test/e2e/data/capi-operator/full-providers.yaml
  test/e2e/data/capi-operator/full-variables.yaml
  test/e2e/data/cluster-templates/aws-eks-mmp.yaml
  test/e2e/e2e_suite_test.go
  test/e2e/helpers_test.go
  test/e2e/import_gitops.go
  test/e2e/import_gitops_test.go
Labels: area/testing, kind/feature

#139 feat: update chart to enable crs and topology features
  README.md
  charts/rancher-turtles/templates/core-provider.yaml
  charts/rancher-turtles/templates/kubeadm-bootstrap.yaml
  charts/rancher-turtles/templates/kubeadm-control-plane.yaml
  charts/rancher-turtles/values.yaml
Labels: kind/feature

#128 feat: add label to Rancher cluster when we create it
  internal/controllers/import_controller.go
Labels: size/xs, kind/feature

#152 feat: enable machine pools
  charts/rancher-turtles/templates/core-provider.yaml
Labels: area/build-and-release, kind/feature

#150 fix: full e2e test failure
  Makefile
Labels: kind/bug, area/testing

#161 fix: remove https:// from prime registry endpoint
  .github/workflows/release.yaml
Labels: kind/bug

#155 🌱 chore: add dependabot go.mod check on ./test
  .github/dependabot.yaml
Labels: kind/chore

#173 Remove support for unsupported architectures
  Makefile
Labels: kind/bug

#172 chore: change release name and generate release notes
  .github/workflows/release.yaml
Labels: kind/chore
