Repository rancher/turtles, pull requests merged in 2023-07, with the labels that each got.

#32 docs: introduce adrs
  docs/adr/0000-template.md
  docs/adr/0001-use-adrs.md
Labels: kind/feature

#33 Replace markdown issue templates with GH forms
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature.md
  .github/ISSUE_TEMPLATE/feature_request.yaml
Labels: kind/cleanup

#31 Add rancher cluster wrapper
  go.mod
  go.sum
  internal/ranchercluster/ranchercluster.go
  internal/ranchercluster/ranchercluster_test.go
  internal/ranchercluster/suite_test.go
  internal/test/cleanup.go
  internal/test/crdbuilder.go
  internal/test/envtest.go
Labels: kind/feature

#42 Fix startup leader election
  README.md
  config/manager/manager.yaml
  config/rbac/leader_election_role_binding.yaml
  scripts/kind-cluster-with-extramounts.yaml
Labels: kind/bug

#43 Requeue if rancher cluster name is empty
  internal/controllers/import_controller.go
  internal/controllers/import_controller_test.go
Labels: kind/bug

#52 Fix helm chart packaging
  .gitignore
  Makefile
Labels: kind/bug

#51 Add more linters to .golangci.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/lint.yaml
  .golangci.yml
Labels: kind/cleanup

#49 Linting and installing charts on PR
  .github/workflows/test_chart.yaml
  Makefile
  hack/chart/Chart.yaml
  hack/chart/values.yaml
Labels: kind/feature

#53 Refactor import manifest creation
  go.mod
  internal/controllers/import_controller.go
  internal/controllers/import_controller_test.go
Labels: kind/cleanup

#54 Use default unstructured converter
  go.mod
  go.sum
  internal/rancher/cluster.go
  internal/rancher/clusterregistrationtoken.go
Labels: kind/cleanup
