Repository rancher/turtles, pull requests merged in 2023-11, with the labels that each got.

#233 fix: check condition for controlplane ready
  internal/controllers/import_controller.go
  util/predicates/cluster_predicates.go
Labels: kind/bug

#247 🌱 Bumb: chart-testing-action to 2.6.0
  .github/workflows/test_chart.yaml
Labels: kind/chore

#232 Refactor release workflow to be reusable
  .github/workflows/release-workflow.yml
  .github/workflows/release.yaml
  .github/workflows/release_build/action.yaml
  .github/workflows/release_sign/action.yaml
Labels: kind/refactor

#249 Fix for variable name
  .github/workflows/release.yaml
Labels: kind/bug, area/build-and-release

#251 🐛 Fix issuer value for signature verification
  .github/workflows/release-workflow.yml
  .github/workflows/release.yaml
  .github/workflows/release_sign/action.yaml
Labels: kind/bug

#262 chore: temporarily disable nightly e2e
  .github/workflows/e2e-long.yaml
Labels: kind/chore

#263 chore: change e2e label for aws test
  test/e2e/const.go
  test/e2e/suites/import-gitops/import_gitops_test.go
Labels: area/testing, kind/chore

#235 🌱 Run release workflow periodically
  .github/workflows/nightly-test-release.yaml
Labels: area/testing, kind/chore

#270 chore: send alarm message when release test is cancelled
  .github/workflows/nightly-test-release.yaml
Labels: kind/enhancement, kind/chore

#273 fix: nightly release test failing to sign images
  .github/workflows/release-workflow.yml
Labels: kind/chore

#282 fix: pin capz versions in e2e tests
  test/e2e/data/capi-operator/full-providers.yaml
Labels: kind/regression

#283 fix: #280 strip kubernetes version
  charts/rancher-turtles/templates/_helpers.tpl
  charts/rancher-turtles/templates/pre-install-job.yaml
Labels: kind/bug

#277 fix: cosign verify for release test workflow
  .github/workflows/release-workflow.yml
Labels: kind/bug

#267 ✨Place all rancher objects in the CAPI namespace
  charts/rancher-turtles/templates/rancher-turtles-components.yaml
  config/rbac/role.yaml
  internal/controllers/import_controller.go
  internal/controllers/import_controller_test.go
  internal/controllers/suite_test.go
  internal/rancher/management/v3/clusterregistrationtoken.go
Labels: kind/feature
