Repository rancher/turtles, pull requests merged in 2023-10, with the labels that each got.

#184 🐛 Fix typo in aws EKS embed
  test/e2e/suites/import-gitops/import_gitops.go
  test/e2e/suites/import-gitops/import_gitops_test.go
Labels: kind/bug

#158 Add SLSA signing and provenance to release
  .github/workflows/release.yaml
  Makefile
  scripts/image-digest.sh
Labels: kind/feature

#192 fix: use pre-install helm hook to prepare rancher for turtles
  .github/workflows/test_chart.yaml
  charts/rancher-turtles/templates/pre-install-job.yaml
  charts/rancher-turtles/values.yaml
Labels: kind/bug

#190 🌱 Apply embedded capi feature flag after rancher install
  Makefile
  charts/rancher-turtles/values.yaml
  test/e2e/config/operator.yaml
  test/e2e/const.go
  test/e2e/suites/import-gitops/suite_test.go
  test/e2e/suites/v2prov/suite_test.go
  test/testenv/rancher.go
Labels: kind/chore

#183 🌱 chore: differentiate ghcr and prod registry workflows
  .github/workflows/release.yaml
Labels: kind/chore

#189 :bug: Disable cache timeout on discovery for delayed rancher deployment
  main.go
Labels: kind/bug

#200 Send alert to slack if e2e run fails
  .github/workflows/e2e-long.yaml
Labels: kind/feature

#197 chore: edit cr command to not set release as latest
  .github/workflows/release.yaml
Labels: kind/enhancement, kind/chore

#202 feat: add ability to manually invoke the full e2e
  .github/workflows/e2e-long.yaml
Labels: kind/chore

#203 Always report e2e failures to slack
  .github/workflows/e2e-long.yaml
Labels: kind/bug

#204 fix: full e2e changes
  test/e2e/config/operator.yaml
  test/e2e/suites/import-gitops/cluster-templates/aws-eks-mmp.yaml
  test/e2e/suites/import-gitops/import_gitops_test.go
  test/e2e/suites/import-gitops/suite_test.go
  test/e2e/suites/update-labels/suite_test.go
  test/e2e/suites/v2prov/suite_test.go
  test/framework/helper.go
  test/testenv/rancher.go
Labels: kind/bug, area/testing

#201 Publish chart as OCI image to GHCR and Prime Registry
  .github/workflows/nightly-chart-and-image-publish.yaml
Labels: kind/chore

#207 test: add e2e for rancher with embedded capi disabled
  test/e2e/suites/embedded-capi-disabled/embedded_capi_disabled_test.go
  test/e2e/suites/embedded-capi-disabled/suite_test.go
  test/testenv/rancher.go
Labels: kind/enhancement, kind/feature

#208 chore: add cr_token env variable to helm release action
  .github/workflows/release.yaml
Labels: kind/bug

#209 chore: use hardcoded registry endpoint for prod-sign
  .github/workflows/release.yaml
Labels: kind/bug

#210 chore: remove references to prod registry endpoint secret
  .github/workflows/release.yaml
Labels: kind/bug

#217 refactor: change azure resource group
  test/e2e/const.go
  test/e2e/data/cluster-templates/aws-eks-mmp.yaml
  test/e2e/data/cluster-templates/azure-aks-mmp.yaml
  test/e2e/data/cluster-templates/docker-kubeadm.yaml
  test/e2e/data/rancher/azure-cluster.yaml
  test/e2e/data/rancher/azure-rke-config.yaml
  test/e2e/specs/import_gitops.go
  test/e2e/suites/embedded-capi-disabled/embedded_capi_disabled_test.go
  test/e2e/suites/embedded-capi-disabled/suite_test.go
  test/e2e/suites/import-gitops/import_gitops_test.go
Labels: kind/refactor, area/testing

#222 chore: add code & image scanning
  .github/workflows/codeql.yml
  .github/workflows/trivy.yml
Labels: area/dependency, kind/feature

#218 chore: encode gh actions outputs
  .github/workflows/release.yaml
  scripts/image-digest.sh
Labels: kind/chore

#225 chore: add azure janitor in dry-run
  .github/workflows/e2e-long.yaml
  .github/workflows/janitor.yaml
Labels: area/dependency, kind/chore

#231 chore: disable slsa provenance in release workflow
  .github/workflows/release.yaml
Labels: kind/bug

#239 chore: add capi logo and move existing image
  README.md
  logos/capi.svg
  logos/cupid.png
Labels: kind/chore

#238 chore: enable janitor to make changes
  .github/workflows/e2e-long.yaml
  .github/workflows/janitor.yaml
Labels: kind/chore

#157 feat: add annotations / questions for chart
  charts/rancher-turtles/Chart.yaml
  charts/rancher-turtles/README.md
  charts/rancher-turtles/app-readme.md
  charts/rancher-turtles/questions.yml
Labels: area/build-and-release, kind/feature
