Repository rancher/turtles, pull requests merged in 2023-08, with the labels that each got.

#55 Propose usage of helm to structure releases
  docs/adr/0002-use-helm.md
Labels: kind/proposal

#58 ✨ Use helm chart releaser and generate notes on each release
  .github/workflows/release.yaml
  .gitignore
  Makefile
  hack/make-release-notes.sh
Labels: kind/feature

#50 ✨ Support deleting the cluster from Rancher
  .gitignore
  go.mod
  internal/controllers/import_controller.go
  internal/controllers/import_controller_test.go
  internal/controllers/suite_test.go
  util/annotations/helpers.go
  util/annotations/helpers_test.go
  util/predicates/cluster_predicates.go
  util/predicates/cluster_predicates_test.go
Labels: kind/feature

#66 🌱 Bump dependencies in the repo
  .github/workflows/golangci-lint.yml
  .github/workflows/lint.yaml
  .github/workflows/release.yaml
  .github/workflows/test_chart.yaml
  Makefile
  config/rbac/role.yaml
  go.mod
  go.sum
  internal/controllers/import_controller.go
  tilt/project/Tiltfile
Labels: area/dependency, kind/chore

#62 Use label instead of annotation for importing clusters
  internal/controllers/import_controller.go
  internal/controllers/import_controller_test.go
  internal/controllers/suite_test.go
Labels: kind/feature

#68 Patch CAPI cluster after reconciling it
  internal/controllers/import_controller.go
Labels: kind/bug

#69 Revert: downgrade Go to 1.20.4
  Makefile
  tilt/project/Tiltfile
Labels: kind/chore

#60 :seedling: Add valid helm chart structure and helm templating support for the chart
  .github/workflows/test_chart.yaml
  Makefile
  charts/rancher-turtles/.helmignore
  charts/rancher-turtles/Chart.yaml
  charts/rancher-turtles/templates/rancher-turtles-components.yaml
  charts/rancher-turtles/values.yaml
  config/certmanager/certificate.yaml
  config/certmanager/kustomization.yaml
  config/certmanager/kustomizeconfig.yaml
  config/chart/kustomization.yaml
  config/chart/kustomizeconfig.yaml
  config/chart/manager_image_patch.yaml
  config/chart/manager_pull_policy.yaml
  config/default/kustomization.yaml
  config/default/kustomizeconfig.yaml
  config/default/manager_role_aggregation_patch.yaml
  config/rbac/kustomization.yaml
  config/rbac/manager_role_aggregation_patch.yaml
  hack/chart-update/go.mod
  hack/chart-update/go.sum
  hack/chart-update/main.go
  hack/chart/values.yaml
  hack/update-helm-repo.sh
Labels: kind/refactor

#71 🌱 Use utilyaml to collect agent manifests in remote cluster
  go.mod
  go.sum
  internal/controllers/import_controller.go
Labels: kind/cleanup

#85 📖 Add deletion strategy ADR
  docs/adr/0003-deletion-strategy.md
Labels: kind/documentation

#88 🌱 Update generated charts output
  Makefile
  charts/rancher-turtles/templates/rancher-turtles-components.yaml
Labels: kind/cleanup

#67 ✨ Initial e2e test setup
  .gitignore
  Makefile
  hack/ensure-kubectl.sh
  hack/utils.sh
  internal/rancher/cluster.go
  test/e2e/README.md
  test/e2e/config/operator.yaml
  test/e2e/doc.go
  test/e2e/e2e_suite_test.go
  test/e2e/helpers_test.go
  test/e2e/import_test.go
  test/e2e/resources/config/docker-infra-secret.yaml
  test/e2e/resources/config/ingress-class-patch.yaml
  test/e2e/resources/config/ingress.yaml
  test/e2e/resources/config/rancher-service-patch.yaml
  test/e2e/resources/config/rancher-setting-patch.yaml
  test/e2e/resources/testdata/fleet-capi-test.yaml
  test/go.mod
  test/go.sum
Labels: kind/feature
