Repository rancher/turtles, pull requests merged in 2023-12, with the labels that each got.

#278 feat: helm chart supports digest and tag for container image
  .github/workflows/release.yaml
  .github/workflows/test_chart.yaml
  Makefile
  charts/rancher-turtles/templates/deployment.yaml
  charts/rancher-turtles/values.yaml
  config/chart/kustomization.yaml
  test/testenv/turtles.go
Labels: kind/feature

#297 :bug: Fix failing nightly chart publish job
  .github/workflows/nightly-chart-and-image-publish.yaml
Labels: kind/bug

#299 Print helm install command after publishing nightly chart
  .github/workflows/nightly-chart-and-image-publish.yaml
Labels: kind/chore

#300 Fix helm chart tag in nightly build
  .github/workflows/nightly-chart-and-image-publish.yaml
Labels: kind/bug

#294 chore: add devbox
  .gitignore
  devbox.json
  devbox.lock
Labels: kind/chore

#308 test: test the e2e using a self-hosted runner
  .github/workflows/e2e-long-test.yaml
Labels: area/testing, kind/feature

#295 :book: Add ADR on on the rancher turtles API CR
  docs/adr/0007-rancher-turtles-public-api.md
Labels: kind/documentation

#301 ✨Refactor dependabot to submit group updates
  .github/dependabot.yaml
Labels: area/dependency, kind/feature

#309 test: allow limiting which suites are run
  .github/workflows/e2e-long-test.yaml
  .github/workflows/e2e-short-test.yaml
  Makefile
Labels: area/testing, kind/feature

#288 ✨ Update API spec for controller implementation
  api/v1alpha1/capiprovider_conditions.go
  api/v1alpha1/capiprovider_types.go
  api/v1alpha1/groupversion_info.go
  api/v1alpha1/provider_types.go
  api/v1alpha1/types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/rancher-turtles/Chart.yaml
  charts/rancher-turtles/templates/rancher-turtles-components.yaml
  config/crd/bases/turtles-capi.cattle.io_capiproviders.yaml
  go.mod
Labels: area/api, kind/feature

#317 test: allow setting ginkgo labels
  .github/workflows/e2e-long-test.yaml
Labels: area/testing, kind/feature

#292 ✨ Providers api controller
  charts/rancher-turtles/templates/rancher-turtles-components.yaml
  config/rbac/role.yaml
  go.mod
  internal/controllers/capiprovider_controller.go
  internal/sync/client.go
  internal/sync/client_test.go
  internal/sync/core.go
  internal/sync/core_test.go
  internal/sync/interface.go
  internal/sync/interface_test.go
  internal/sync/suite_test.go
  internal/test/helpers/envtest.go
  main.go
Labels: kind/feature

#293 ✨Providers api controller implementation
  internal/controllers/capiprovider_controller.go
  internal/sync/provider_sync.go
  internal/sync/provider_sync_test.go
  internal/sync/secret_sync.go
  internal/sync/secret_sync_test.go
Labels: kind/feature

#318 test: install additional capi providers when label isn't just short tests
  test/e2e/suites/import-gitops/suite_test.go
Labels: area/testing, kind/feature

#320 test: disable the Azure test and re-enable the AWS test
  test/e2e/suites/import-gitops/import_gitops_test.go
Labels: area/testing, kind/feature

#316 Stop publishing nightly images to prime registry
  .github/workflows/nightly-chart-and-image-publish.yaml
Labels: kind/bug

#321 refactor: change e2e tests to use reuseable workflow
  .github/workflows/e2e-long.yaml
  .github/workflows/run-e2e-suite.yaml
Labels: kind/refactor, area/testing

#322 fix: set env vars in reuseable workflow
  .github/workflows/e2e-long.yaml
  .github/workflows/run-e2e-suite.yaml
Labels: kind/bug, area/testing

#323 docs: update readme with e2e badge
  README.md
Labels: kind/documentation

#324 chore: change the ignore dependabot updates
  .github/dependabot.yaml
Labels: kind/cleanup, area/dependency
