Repository rancher/turtles, pull requests merged in 2024-03, with the labels that each got.

#397 🌱 Bump go to 1.22
  .github/workflows/ci.yaml
  .github/workflows/codeql.yml
  .github/workflows/e2e-long-test.yaml
  .github/workflows/e2e-short-test.yaml
  .github/workflows/e2e-short.yaml
  .github/workflows/golangci-lint.yml
  .github/workflows/lint.yaml
  .github/workflows/nightly-chart-and-image-publish.yaml
  .github/workflows/release_build/action.yaml
  .github/workflows/run-e2e-suite.yaml
  .github/workflows/test_chart.yaml
  .golangci.yml
  Makefile
  api/v1alpha1/zz_generated.deepcopy.go
  charts/rancher-turtles/templates/rancher-turtles-components.yaml
  config/crd/bases/turtles-capi.cattle.io_capiproviders.yaml
  go.mod
  go.sum
  go.work.example
  internal/controllers/capiprovider_controller.go
  internal/controllers/import_controller.go
  internal/rancher/management/v3/zz_generated.deepcopy.go
  internal/rancher/provisioning/v1/zz_generated.deepcopy.go
  internal/sync/client_test.go
  internal/sync/core.go
  internal/sync/secret_mapper_sync.go
  internal/test/cleanup.go
  internal/test/helpers/envtest.go
  test/go.mod
  test/go.sum
  util/predicates/v2prov_predicates.go
Labels: kind/chore

#406 ✨ Pin installed versions for CAPI Operator
  Makefile
  charts/rancher-turtles/questions.yml
  charts/rancher-turtles/templates/clusterctl-config.yaml
  charts/rancher-turtles/values.yaml
  test/e2e/config/operator.yaml
  test/e2e/const.go
  test/e2e/data/capi-operator/capi-providers.yaml
Labels: kind/feature

#404 WIP: Pin provider versions
  test/e2e/data/capi-operator/full-providers.yaml
Labels: kind/chore

#413 :seedling: chore: configure janitor to cleanup aws resources
  .github/workflows/janitor.yaml
Labels: kind/chore

#396 🌱 Add tests for capi provider edit operations
  api/v1alpha1/capiprovider_wrapper.go
  internal/controllers/capiprovider_controller.go
  internal/controllers/capiprovider_controller_test.go
  internal/controllers/import_controller_test.go
  internal/controllers/import_controller_v3.go
  internal/sync/core.go
  internal/sync/interface.go
  internal/sync/interface_test.go
  internal/sync/provider_sync.go
  internal/sync/provider_sync_test.go
  internal/sync/secret_mapper_sync.go
  internal/sync/secret_sync.go
  test/e2e/specs/import_gitops.go
  test/e2e/specs/import_gitops_mgmtv3.go
  test/e2e/suites/update-labels/update_labels_test.go
  test/e2e/suites/v2prov/v2prov_test.go
Labels: kind/chore

#421 :seedling: test: add wait-delete-cluster interval
  test/e2e/config/operator.yaml
Labels: kind/chore

#418 🌱 chore: update go version in release test workflow
  .github/workflows/nightly-test-release.yaml
  .github/workflows/release.yaml
Labels: kind/chore

#422 :bug: Provider re apply tests
  internal/controllers/capiprovider_controller_test.go
  internal/controllers/patch_kcfg_controller_test.go
  internal/sync/provider_sync.go
  internal/sync/provider_sync_test.go
  internal/sync/secret_mapper_sync_test.go
  main.go
Labels: kind/bug

#425 ✨ Add post-delete helm hook for RT extension deletion process
  charts/rancher-turtles/templates/post-delete-job.yaml
  charts/rancher-turtles/templates/pre-install-job.yaml
  charts/rancher-turtles/values.yaml
Labels: kind/feature

#403 Bump CAPI to v1.6.2 & CAPI Operator v0.9.0
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Labels: kind/chore

#114 📖 Add ADR around use of structured proxy types
  docs/adr/0009-use-structured-proxy-types.md
Labels: kind/documentation

#408 🌱 Create dependabot.yml to run make generate on each dependabot PR
  .github/workflows/dependabot.yml
Labels: kind/chore, size/xs

#402 Disable kubeadm provider installation by default
  charts/rancher-turtles/templates/kubeadm-bootstrap.yaml
  charts/rancher-turtles/templates/kubeadm-control-plane.yaml
  charts/rancher-turtles/values.yaml
  test/e2e/data/capi-operator/capi-providers.yaml
Labels: kind/cleanup

#429 🌱 Bump go version in dependabot workflow
  .github/workflows/ci.yaml
  .github/workflows/codeql.yml
  .github/workflows/dependabot.yml
  .github/workflows/e2e-short.yaml
  .github/workflows/golangci-lint.yml
  .github/workflows/lint.yaml
  .github/workflows/pr-md-link-check.yaml
  .github/workflows/pr_size_labeler.yml
  .github/workflows/pr_type.yaml
  .github/workflows/test_chart.yaml
  .github/workflows/trivy.yml
Labels: kind/chore

#444 🐛 Fix repo name in release-workflow.yml GH workflow
  .github/workflows/release-workflow.yml
Labels: kind/bug

#394 feat: changing to use EKS for management cluster
  .github/workflows/e2e-long.yaml
  .github/workflows/e2e-short.yaml
  .github/workflows/run-e2e-suite.yaml
  .gitignore
  Makefile
  charts/rancher-turtles/.gitignore
  charts/rancher-turtles/Chart.lock
  charts/rancher-turtles/templates/_helpers.tpl
  test/e2e/README.md
  test/e2e/config/operator.yaml
  test/e2e/const.go
  test/e2e/data/capi-operator/capa-variables.yaml
  test/e2e/data/capi-operator/full-providers.yaml
  test/e2e/data/cluster-templates/docker-kubeadm.yaml
  test/e2e/data/gitea/values.yaml
  test/e2e/flags.go
  test/e2e/suites/embedded-capi-disabled/embedded_capi_disabled_test.go
  test/e2e/suites/embedded-capi-disabled/suite_test.go
  test/e2e/suites/import-gitops/import_gitops_test.go
  test/e2e/suites/import-gitops/suite_test.go
  test/e2e/suites/managementv3/managementv3_test.go
  test/e2e/suites/managementv3/suite_test.go
  test/e2e/suites/update-labels/suite_test.go
  test/e2e/suites/v2prov/suite_test.go
  test/framework/command_helper.go
  test/framework/kube_helper.go
  test/testenv/aws.go
  test/testenv/eks.go
  test/testenv/eksctl_provider.go
  test/testenv/gitea.go
  test/testenv/rancher.go
  test/testenv/service.go
  test/testenv/setupcluster.go
  test/testenv/turtles.go
Labels: area/testing, kind/feature

#447 fix: install aws-iam-authenticator
  .github/workflows/run-e2e-suite.yaml
Labels: kind/bug, area/testing

#426 :book: docs: add helm chart repository adr
  docs/adr/0009-publish-chart-to-rancher-charts.md
Labels: kind/documentation

#445 🌱 Bump operator dependency to 0.9.1
  charts/rancher-turtles/Chart.yaml
Labels: kind/chore

#449 chore: edit chart display name
  charts/rancher-turtles/Chart.yaml
Labels: kind/chore
