Repository rancher/turtles, pull requests merged in 2024-10, with the labels that each got.

#777 🐛 CAPIProvider: Always provide a name for UI and -o wide
  api/v1alpha1/capiprovider_types.go
  api/v1alpha1/capiprovider_wrapper.go
  charts/rancher-turtles/templates/rancher-turtles-components.yaml
  config/crd/bases/turtles-capi.cattle.io_capiproviders.yaml
  internal/controllers/capiprovider_controller_test.go
  internal/sync/provider_sync.go
Labels: kind/bug

#780 🐛 Drop sudo from system agent install command
  exp/etcdrestore/webhooks/rke2config.go
  exp/etcdrestore/webhooks/rke2config_test.go
Labels: kind/bug

#784 📖 Add additional post-release step to release docs
  docs/release.md
Labels: kind/documentation, area/build-and-release

#779 test: cover azure provisioning via cluster class
  test/e2e/const.go
  test/e2e/data/cluster-templates/azure-aks-mmp.yaml
  test/e2e/data/cluster-templates/azure-aks-topology.yaml
  test/e2e/specs/import_gitops_mgmtv3.go
  test/e2e/suites/import-gitops-v3/import_gitops_v3_test.go
Labels: kind/enhancement, area/testing

#775 🌱 Add a way to run ETCDRestore controller locally
  .github/workflows/nightly-chart-and-image-publish.yaml
  Makefile
  PROJECT
  exp/README.md
  exp/etcdrestore/Dockerfile
  scripts/turtles-dev.sh
Labels: kind/feature, area/etcdsnapshot-restore

#790 test: disable docker/rke2 e2e scenario
  test/e2e/suites/import-gitops-v3/import_gitops_v3_test.go
Labels: area/testing, kind/chore

#799 chore: fix provider url placeholder
  .github/ISSUE_TEMPLATE/certification_request.yaml
Labels: kind/chore

#793 Cache e2e image builds
  .dockerignore
  .github/workflows/e2e-long-test.yaml
  .github/workflows/e2e-short-test.yaml
  .github/workflows/e2e-short.yaml
  .github/workflows/run-e2e-suite.yaml
  .github/workflows/trivy.yml
  .gitignore
  Makefile
Labels: kind/bug

#801 chore: fix azure janitor action url
  .github/workflows/e2e-long-test.yaml
  .github/workflows/run-e2e-suite.yaml
Labels: kind/chore

#803 fix: sign updatecli commits
  updatecli/updatecli.d/manifest.yaml
Labels: kind/bug

#806 🌱 Switch org for gcp-janitor
  .github/workflows/run-e2e-suite.yaml
Labels: kind/chore

#808 Fix panic in webhook for CC clusters
  exp/etcdrestore/controllers/etcdsnapshotsync_controller.go
Labels: kind/bug

#826 Use tilt by default in the dev setup
  scripts/turtles-dev.sh
Labels: kind/bug

#818 docs: fix broken jira link
  docs/release.md
Labels: kind/chore, area/documentation
