Repository rancher/turtles, pull requests merged in 2024-09, with the labels that each got.

#706 🐛 Skip CAPIProvider reconciliation on deletion timestamp
  internal/controllers/capiprovider_controller.go
Labels: kind/bug

#701 Add turtles annotation to RKE2Config modified by webhook
  exp/etcdrestore/webhooks/rke2config.go
Labels: kind/feature

#705 🌱 Add option to skip rancher pre-requisites
  charts/rancher-turtles/templates/pre-install-job.yaml
  charts/rancher-turtles/values.yaml
  internal/controllers/capiprovider_controller.go
  internal/controllers/capiprovider_controller_test.go
  main.go
Labels: kind/chore

#708 Add EtcdMachineSnapshot controller
  Tiltfile
  exp/etcdrestore/api/k3s/v1/doc.go
  exp/etcdrestore/api/k3s/v1/etcdsnapshotfile.go
  exp/etcdrestore/api/k3s/v1/groupversion_info.go
  exp/etcdrestore/api/k3s/v1/zz_generated.deepcopy.go
  exp/etcdrestore/api/v1alpha1/etcdmachinesnapshot_types.go
  exp/etcdrestore/config/crd/bases/k3s.cattle.io_etcdsnapshotfiles.yaml
  exp/etcdrestore/controllers/etcdmachinesnapshot_controller.go
  exp/etcdrestore/main.go
  scripts/turtles-dev.sh
Labels: kind/feature

#716 Improvements to EtcdMachineSnapshot controller
  exp/etcdrestore/controllers/etcdmachinesnapshot_controller.go
Labels: kind/refactor

#741 Use forks as source for CAPI manifests
  charts/rancher-turtles/templates/clusterctl-config.yaml
Labels: kind/feature

#735 Replace LocalObjectReference usage with strings in exp/etcdrestore API
  Makefile
  charts/rancher-turtles/templates/rancher-turtles-exp-etcdrestore-components.yaml
  exp/etcdrestore/api/v1alpha1/etcdmachinesnapshot_types.go
  exp/etcdrestore/api/v1alpha1/etcdmachinesnapshotconfig_types.go
  exp/etcdrestore/api/v1alpha1/zz_generated.deepcopy.go
  exp/etcdrestore/config/crd/bases/turtles-capi.cattle.io_etcdmachinesnapshots.yaml
  exp/etcdrestore/config/crd/bases/turtles-capi.cattle.io_rke2etcdmachinesnapshotconfigs.yaml
  exp/etcdrestore/controllers/snapshotters/rke2snapshotter.go
Labels: kind/refactor, area/etcdsnapshot-restore

#740 Sign published turtles manifest and all underlying images
  .github/workflows/nightly-chart-and-image-publish.yaml
  .github/workflows/release_build/action.yaml
  .github/workflows/release_sign/action.yaml
  .github/workflows/trivy.yml
  Makefile
  test/e2e/config/operator.yaml
  test/e2e/specs/migrate_gitops_provv1_mgmtv3.go
  test/e2e/suites/chart-upgrade/chart_upgrade_test.go
  test/e2e/suites/embedded-capi-disabled-v3/suite_test.go
  test/e2e/suites/embedded-capi-disabled/suite_test.go
  test/e2e/suites/import-gitops-v3/suite_test.go
  test/e2e/suites/import-gitops/suite_test.go
  test/e2e/suites/migrate-gitops/suite_test.go
  test/e2e/suites/update-labels/suite_test.go
  test/e2e/suites/v2prov/suite_test.go
Labels: kind/feature

#744 Fix make command for pushing e2e image
  Makefile
Labels: kind/bug

#746 Add CAPV, CAPZ and CAPI operator images
  charts/rancher-turtles/templates/clusterctl-config.yaml
  charts/rancher-turtles/values.yaml
Labels: kind/feature

#748 🐛 Fix build and publish nightly Helm chart workflow
  Makefile
Labels: kind/bug

#752 Bump CAPRKE2 to v0.7.0
  exp/etcdrestore/go.mod
  exp/etcdrestore/go.sum
  internal/controllers/clusterctl/config.yaml
  scripts/turtles-dev.sh
Labels: area/dependency, kind/chore
