Repository rancher/turtles, pull requests merged in 2024-05, with the labels that each got.

#505 Add ETCD Snapshot and Restore API skeleton
  Makefile
  charts/rancher-turtles/templates/rancher-turtles-exp-etcdrestore-components.yaml
  charts/rancher-turtles/values.yaml
  config/default/kustomization.yaml
  config/exp/etcdrestore/crd/bases/turtles-capi.cattle.io_etcdmachinesnapshots.yaml
  config/exp/etcdrestore/crd/bases/turtles-capi.cattle.io_etcdsnapshotrestores.yaml
  config/exp/etcdrestore/crd/patches/turtles-capi.cattle.io_etcdmachinesnapshots.yaml
  config/exp/etcdrestore/crd/patches/turtles-capi.cattle.io_etcdsnapshotrestores.yaml
  config/exp/etcdrestore/kustomization.yaml
  config/exp/etcdrestore/kustomizeconfig.yaml
  exp/README.md
  exp/etcdrestore/api/v1alpha1/etcdmachinesnapshot_types.go
  exp/etcdrestore/api/v1alpha1/etcdsnapshotrestore_types.go
  exp/etcdrestore/api/v1alpha1/groupversion_info.go
  exp/etcdrestore/api/v1alpha1/zz_generated.deepcopy.go
  scripts/process-exp-etcdrestore-manifests.sh
Labels: kind/feature

#474 :seedling: chore: cover uninstall in e2e tests
  Makefile
  test/e2e/config/operator.yaml
  test/e2e/suites/import-gitops/suite_test.go
  test/testenv/turtles.go
Labels: area/testing, kind/chore

#525 Add helm chart value to override CAPI images
  charts/rancher-turtles/templates/core-provider.yaml
  charts/rancher-turtles/templates/rke2-bootstrap.yaml
  charts/rancher-turtles/templates/rke2-controlplane.yaml
  charts/rancher-turtles/values.yaml
Labels: kind/bug

#518 [Bug] fix missing conditional for CAPI Operator dependencies
  .gitignore
  charts/rancher-turtles/Chart.yaml
Labels: kind/bug

#538 chore: enable label propogation by default
  charts/rancher-turtles/values.yaml
  feature/feature.go
Labels: kind/feature

#543 Bump CAPRKE2 to the latest RC
  charts/rancher-turtles/templates/clusterctl-config.yaml
  exp/etcdrestore/go.mod
  exp/etcdrestore/go.sum
  exp/etcdrestore/main.go
  exp/etcdrestore/webhooks/rke2config.go
Labels: kind/feature

#547 Continously propagate labels to Rancher cluster
  charts/rancher-turtles/questions.yml
  internal/controllers/import_controller.go
  internal/controllers/import_controller_test.go
  internal/controllers/import_controller_v3.go
  internal/controllers/import_controller_v3_test.go
Labels: kind/feature

#557 Bump CAPRKE2 to v0.3.0
  charts/rancher-turtles/templates/clusterctl-config.yaml
  exp/etcdrestore/go.mod
  exp/etcdrestore/go.sum
Labels: kind/feature

#549 Add ipam and runtimeextension providers
  api/v1alpha1/capiprovider_types.go
  api/v1alpha1/provider_types.go
  charts/rancher-turtles/templates/rancher-turtles-components.yaml
  config/crd/bases/turtles-capi.cattle.io_capiproviders.yaml
Labels: kind/bug

#556 fix: git add files in dependabot workflow
  .github/workflows/dependabot.yml
Labels: kind/bug
