Repository rancher/turtles, pull requests merged in 2024-11, with the labels that each got.

#825 Build image streamline
  Makefile
  exp/etcdrestore/Dockerfile
Labels: kind/cleanup, area/build-and-release

#831 🌱 Cleanup GitHub workflows and group existing ones
  .github/workflows/e2e-long-test.yaml
  .github/workflows/e2e-short-test.yaml
Labels: area/dependency

#842 chore: fix trivy timeout
  .github/workflows/trivy.yml
Labels: kind/chore, area/ci

#840 [updatecli] Perform replacement of `CAPIVersion` in tests and e2e
  internal/sync/provider_sync_test.go
  test/e2e/const.go
  test/e2e/suites/chart-upgrade/chart_upgrade_test.go
  test/e2e/suites/update-labels/suite_test.go
  updatecli/updatecli.d/manifest.yaml
Labels: kind/chore

#851 🌱 Patch RKE2 config only for CP machines
  exp/etcdrestore/webhooks/rke2config.go
  exp/etcdrestore/webhooks/rke2config_test.go
Labels: kind/bug, kind/chore

#845 :sparkles: feat: certify CAPG
  internal/controllers/capiprovider_controller.go
  internal/controllers/clusterctl/config.yaml
  internal/sync/gcp_provider_sync.go
  test/e2e/config/operator.yaml
  test/e2e/const.go
  test/e2e/data/capi-operator/capg-variables.yaml
  test/e2e/data/capi-operator/full-providers.yaml
  test/e2e/data/cluster-templates/gcp-gke.yaml
  test/e2e/specs/import_gitops_mgmtv3.go
  test/e2e/suites/embedded-capi-disabled-v3/suite_test.go
  test/e2e/suites/embedded-capi-disabled/suite_test.go
  test/e2e/suites/import-gitops-v3/import_gitops_v3_test.go
  test/e2e/suites/import-gitops-v3/suite_test.go
  test/e2e/suites/import-gitops/suite_test.go
Labels: kind/feature

#834 feat: opt out of cluster owner rbac
  internal/controllers/helpers.go
  internal/controllers/import_controller.go
  internal/controllers/import_controller_v3.go
  internal/controllers/import_controller_v3_test.go
  test/e2e/specs/import_gitops_mgmtv3.go
  test/e2e/specs/migrate_gitops_provv1_mgmtv3.go
  util/annotations/helpers.go
Labels: kind/enhancement, area/rbac

#873 :bug: Include CAPG_ENCODED_CREDS to env
  .github/workflows/run-e2e-suite.yaml
  test/testenv/cleanup.go
Labels: kind/bug

#854 Add etcd snapshot restore e2e setup
  .github/workflows/e2e-long.yaml
  Makefile
  charts/rancher-turtles/templates/rancher-turtles-exp-etcdrestore-components.yaml
  charts/rancher-turtles/values.yaml
  scripts/process-exp-etcdrestore-manifests.sh
  test/e2e/config/operator.yaml
  test/e2e/suites/etcd-snapshot-restore/etcd_snapshot_restore_test.go
  test/e2e/suites/etcd-snapshot-restore/suite_test.go
Labels: kind/feature

#856 ✨ Allow to perform manual ETCD snapshots
  api/rancher/k3s/v1/etcdsnapshotfile.go
  api/rancher/k3s/v1/zz_generated.deepcopy.go
  charts/rancher-turtles/templates/rancher-turtles-exp-etcdrestore-components.yaml
  exp/README.md
  exp/etcdrestore/api/v1alpha1/etcdmachinesnapshot_types.go
  exp/etcdrestore/api/v1alpha1/zz_generated.deepcopy.go
  exp/etcdrestore/config/crd/bases/turtles-capi.cattle.io_etcdmachinesnapshots.yaml
  exp/etcdrestore/controllers/etcdmachinesnapshot_controller.go
  exp/etcdrestore/controllers/snapshotters/rke2snapshotter.go
  exp/etcdrestore/examples/etcd-snapshot.yaml
  exp/etcdrestore/main.go
Labels: kind/feature, area/etcdsnapshot-restore

#872 [etcd-snapshot-restore] Snapshot/restore e2e test
  charts/rancher-turtles/templates/rancher-turtles-exp-etcdrestore-components.yaml
  exp/etcdrestore/api/v1alpha1/etcdmachinesnapshot_types.go
  exp/etcdrestore/api/v1alpha1/zz_generated.deepcopy.go
  exp/etcdrestore/config/crd/bases/turtles-capi.cattle.io_etcdmachinesnapshots.yaml
  exp/etcdrestore/controllers/etcdmachinesnapshot_controller.go
  test/e2e/config/operator.yaml
  test/e2e/helpers.go
  test/e2e/specs/etcd_snapshot_restore.go
  test/e2e/suites/etcd-snapshot-restore/etcd_snapshot_restore_test.go
  test/go.mod
Labels: area/etcdsnapshot-restore

#881 [updatecli] Bump CAPI Providers versions
  internal/controllers/clusterctl/config.yaml
  internal/sync/provider_sync_test.go
  test/e2e/const.go
Labels: kind/chore, area/update

#886 Build and push e2e images
  .github/workflows/run-e2e-suite.yaml
Labels: kind/bug
