Repository rancher/turtles, pull requests merged in 2024-12, with the labels that each got.

#902 Use docker build for e2e image
  .github/workflows/run-e2e-suite.yaml
  Makefile
Labels: kind/bug, area/testing

#909 Rename release workflow
  .github/workflows/release-workflow.yaml
  .github/workflows/release.yml
Labels: area/build-and-release, kind/chore

#916 :bug: Fix diff check on secret sync
  internal/controllers/capiprovider_controller_test.go
  internal/sync/client.go
  internal/sync/core.go
  internal/sync/interface.go
  internal/sync/interface_test.go
  internal/sync/secret_mapper_sync.go
  internal/sync/secret_sync.go
Labels: kind/bug

#920 Bump golang to 1.22.10
  .github/workflows/codeql.yml
  .github/workflows/dependabot.yml
  .github/workflows/e2e-short.yaml
  .github/workflows/golangci-lint.yml
  .github/workflows/lint.yaml
  .github/workflows/nightly-chart-and-image-publish.yaml
  .github/workflows/nightly-test-release.yaml
  .github/workflows/release-workflow.yaml
  .github/workflows/release_build/action.yaml
  .github/workflows/run-e2e-suite.yaml
  .github/workflows/test_chart.yaml
  Makefile
  exp/etcdrestore/go.mod
  go.mod
  go.work.example
  test/go.mod
Labels: kind/security

#918 🌱 Remove retry usages across the code
  internal/controllers/import_controller_v3.go
  internal/controllers/patch_kcfg_controller.go
Labels: kind/chore

#908 Prevent infinite CAPIProvider reconciliations
  internal/controllers/capiprovider_controller.go
  internal/sync/client.go
  internal/sync/core.go
  internal/sync/core_test.go
Labels: kind/bug

#925 Bump CAPI to 1.9.0
  Makefile
  charts/rancher-turtles/templates/rancher-turtles-components.yaml
  charts/rancher-turtles/templates/rancher-turtles-exp-etcdrestore-components.yaml
  config/crd/bases/turtles-capi.cattle.io_capiproviders.yaml
  config/crd/bases/turtles-capi.cattle.io_clusterctlconfigs.yaml
  exp/etcdrestore/config/crd/bases/turtles-capi.cattle.io_etcdmachinesnapshots.yaml
  exp/etcdrestore/config/crd/bases/turtles-capi.cattle.io_etcdsnapshotrestores.yaml
  exp/etcdrestore/config/crd/bases/turtles-capi.cattle.io_rke2etcdmachinesnapshotconfigs.yaml
  exp/etcdrestore/config/rbac/role.yaml
  exp/etcdrestore/controllers/etcdsnapshot_secret_controller.go
  exp/etcdrestore/go.mod
  exp/etcdrestore/go.sum
  go.mod
  go.sum
  internal/controllers/capiprovider_controller_test.go
  internal/controllers/import_controller.go
  internal/controllers/import_controller_v3.go
  internal/controllers/patch_kcfg_controller.go
  main.go
  test/e2e/suites/chart-upgrade/chart_upgrade_test.go
  test/e2e/suites/import-gitops-v3/suite_test.go
  test/e2e/suites/import-gitops/suite_test.go
  test/e2e/suites/migrate-gitops/suite_test.go
  test/e2e/suites/update-labels/update_labels_test.go
  test/e2e/suites/v2prov/v2prov_test.go
  test/framework/apply.go
  test/framework/apply_template_helper.go
  test/framework/chartmuseum_helper.go
  test/framework/fleet_helper.go
  test/go.mod
  test/go.sum
  test/testenv/gitea.go
  test/testenv/operator.go
  test/testenv/rancher.go
  test/testenv/turtles.go
Labels: area/dependency, kind/chore
