Repository rancher/turtles, pull requests merged in 2024-06, with the labels that each got.

#563 :book: Updated documentation release steps
  docs/release.md
Labels: kind/documentation

#546 Bump RKE2 API version in E2E
  test/e2e/data/cluster-templates/docker-rke2.yaml
Labels: kind/feature

#567 Bump CAPI Operator to v0.11.0
  charts/rancher-turtles/Chart.yaml
  exp/etcdrestore/go.mod
  exp/etcdrestore/go.sum
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Labels: kind/feature

#562 test: add rke2 cluster to e2e test cases
  test/e2e/config/operator.yaml
  test/e2e/data/capi-operator/capi-providers.yaml
  test/e2e/data/cluster-templates/docker-rke2.yaml
Labels: kind/feature

#576 🌱 Cleanup v1 cluster before creating v3 clusters on upgrade
  .github/workflows/e2e-short.yaml
  charts/rancher-turtles/questions.yml
  charts/rancher-turtles/templates/post-upgrade-job.yaml
  charts/rancher-turtles/values.yaml
  test/e2e/specs/migrate_gitops_provv2_mgmtv3.go
  test/e2e/suites/import-gitops/import_gitops_test.go
Labels: kind/chore

#574 feat: add script for import controller migration
  scripts/import-controller-migration.sh
Labels: kind/feature

#579 📖 ADR: v1-v3 automatic migration
  docs/adr/0011-v1-to-v3-migration.md
Labels: kind/documentation

#575 Add v1->v3 cluster migration
  Tiltfile
  internal/controllers/helpers.go
  internal/controllers/import_controller_v3.go
  internal/controllers/import_controller_v3_test.go
Labels: kind/feature

#573 docs: add adr for v1 to v3 controller migration
  docs/adr/0010-migrate-to-v3-cluster-resource.md
Labels: kind/documentation
