Repository rancher/turtles, pull requests merged in 2024-08, with the labels that each got.

#623 Refactor e2e suite setup to make it more customizable
  test/e2e/const.go
  test/e2e/suites/embedded-capi-disabled-v3/suite_test.go
  test/e2e/suites/embedded-capi-disabled/suite_test.go
  test/e2e/suites/import-gitops-v3/suite_test.go
  test/e2e/suites/import-gitops/suite_test.go
  test/e2e/suites/migrate-gitops/suite_test.go
  test/e2e/suites/update-labels/suite_test.go
  test/e2e/suites/v2prov/suite_test.go
  test/testenv/bootstrapclusterproviders.go
  test/testenv/rancher.go
  test/testenv/setupcluster.go
Labels: kind/feature

#636 fix: Install cert-manager before capi-operator
  CONTRIBUTING.md
  scripts/kind-cluster-with-extramounts.yaml
  scripts/turtles-dev.sh
Labels: kind/chore

#644 Dependabot fix - check if make generate produced changes
  .github/workflows/dependabot.yml
Labels: kind/bug

#650 Make generate updates etcd backup/restore modules
  .github/dependabot.yaml
  Makefile
Labels: kind/bug

#646 ✨ Pass the new GVK flag to azure manager
  charts/rancher-turtles/templates/azure-rbac.yaml
  charts/rancher-turtles/templates/clusterctl-config.yaml
  internal/controllers/capiprovider_controller.go
  internal/sync/azure_provider_sync.go
  internal/sync/provider_sync_test.go
Labels: kind/feature

#655 Bump CAPI infra providers versions
  charts/rancher-turtles/templates/clusterctl-config.yaml
  test/e2e/data/capi-operator/capi-providers.yaml
  test/e2e/data/capi-operator/capv-provider.yaml
  test/e2e/data/capi-operator/full-providers.yaml
Labels: kind/bug

#637 Refactor E2E suite to make it more generic
  .github/workflows/e2e-long.yaml
  .github/workflows/e2e-short-test.yaml
  .github/workflows/e2e-short.yaml
  .github/workflows/run-e2e-suite.yaml
  Makefile
  test/e2e/config/operator.yaml
  test/e2e/const.go
  test/e2e/flags.go
  test/e2e/suites/embedded-capi-disabled-v3/suite_test.go
  test/e2e/suites/embedded-capi-disabled/suite_test.go
  test/e2e/suites/import-gitops-v3/suite_test.go
  test/e2e/suites/import-gitops/suite_test.go
  test/e2e/suites/migrate-gitops/suite_test.go
  test/e2e/suites/update-labels/suite_test.go
  test/e2e/suites/v2prov/suite_test.go
  test/testenv/gitea.go
  test/testenv/rancher.go
  test/testenv/setupcluster.go
  test/testenv/turtles.go
Labels: kind/feature

#654 🌱 Perform e2e on CAAPF with hostNetwork: true
  test/e2e/README.md
  test/e2e/config/operator.yaml
  test/e2e/const.go
  test/e2e/data/cluster-api-addon-provider-fleet/host-network-patch.yaml
  test/e2e/data/cluster-templates/docker-kubeadm.yaml
  test/e2e/suites/import-gitops-v3/suite_test.go
  test/e2e/suites/import-gitops/suite_test.go
  test/e2e/suites/migrate-gitops/suite_test.go
Labels: kind/chore

#657 Use E2E config instead of ginkgo flags
  .github/workflows/e2e-long.yaml
  .github/workflows/e2e-short-test.yaml
  .github/workflows/e2e-short.yaml
  .github/workflows/run-e2e-suite.yaml
  Makefile
  test/e2e/README.md
  test/e2e/config/operator.yaml
  test/e2e/const.go
  test/e2e/flags.go
  test/e2e/helpers.go
  test/e2e/specs/migrate_gitops_provv1_mgmtv3.go
  test/e2e/suites/embedded-capi-disabled-v3/embedded_capi_disabled_v3_test.go
  test/e2e/suites/embedded-capi-disabled-v3/suite_test.go
  test/e2e/suites/embedded-capi-disabled/embedded_capi_disabled_test.go
  test/e2e/suites/embedded-capi-disabled/suite_test.go
  test/e2e/suites/import-gitops-v3/import_gitops_v3_test.go
  test/e2e/suites/import-gitops-v3/suite_test.go
  test/e2e/suites/import-gitops/import_gitops_test.go
  test/e2e/suites/import-gitops/suite_test.go
  test/e2e/suites/migrate-gitops/migrate_gitops_provv1_mgmtv3_test.go
  test/e2e/suites/migrate-gitops/suite_test.go
  test/e2e/suites/update-labels/suite_test.go
  test/e2e/suites/update-labels/update_labels_test.go
  test/e2e/suites/v2prov/suite_test.go
  test/e2e/suites/v2prov/v2prov_test.go
  test/framework/apply_template_helper.go
  test/framework/chartmuseum_helper.go
  test/framework/clusterctl_helper.go
  test/framework/command_helper.go
  test/framework/fleet_helper.go
  test/framework/git_helper.go
  test/framework/gitea_helper.go
  test/framework/kube_helper.go
  test/framework/rancher_helpers.go
  test/testenv/aws.go
  test/testenv/bootstrapclusterproviders.go
  test/testenv/charmuseum.go
  test/testenv/cleanup.go
  test/testenv/eks.go
  test/testenv/eksctl_provider.go
  test/testenv/gitea.go
  test/testenv/operator.go
  test/testenv/rancher.go
  test/testenv/service.go
  test/testenv/setupcluster.go
  test/testenv/turtles.go
Labels: kind/feature

#658 ⚠️ Bump dependencies: CAPI, Rancher and K8s versions
  .github/workflows/test_chart.yaml
  Makefile
  charts/rancher-turtles/templates/clusterctl-config.yaml
  exp/etcdrestore/go.mod
  exp/etcdrestore/go.sum
  go.mod
  go.sum
  hack/ensure-kubectl.sh
  internal/controllers/testdata/import_sample.yaml
  scripts/kind-cluster-with-extramounts.yaml
  scripts/turtles-dev.sh
  test/e2e/config/operator.yaml
  test/go.mod
  test/go.sum
  test/testenv/rancher.go
Labels: kind/feature

#662 🌱 Re-enable AKS e2e
  test/e2e/suites/import-gitops-v3/import_gitops_v3_test.go
  test/e2e/suites/import-gitops/import_gitops_test.go
Labels: kind/chore

#665 Update release docs with test package tag
  docs/release.md
Labels: kind/documentation

#668 🌱 Use k8s 1.30.3
  .github/workflows/test_chart.yaml
  hack/ensure-kubectl.sh
  scripts/kind-cluster-with-extramounts.yaml
  test/e2e/config/operator.yaml
  test/e2e/data/cluster-templates/docker-rke2.yaml
  test/e2e/data/cluster-templates/vsphere-kubeadm.yaml
  test/e2e/data/cluster-templates/vsphere-rke2.yaml
Labels: kind/chore

#674 🐛 Propagate artifacts folder to e2e
  Makefile
Labels: kind/bug

#675 Fix secret namespace for CAPZ in E2E
  test/e2e/data/capi-operator/capz-identity-secret.yaml
  test/e2e/data/cluster-templates/azure-aks-mmp.yaml
Labels: kind/bug

#677 Bump azure janitor version
  .github/workflows/e2e-long-test.yaml
  .github/workflows/e2e-long.yaml
  .github/workflows/janitor.yaml
  .github/workflows/run-e2e-suite.yaml
Labels: kind/feature

#672 chore: update lower/upper rancher version in chart
  charts/rancher-turtles/Chart.yaml
Labels: kind/chore

#681 feat: new issue template for provider certification
  .github/ISSUE_TEMPLATE/certification_request.yaml
Labels: kind/feature

#679 ✨ Check CAPI provider latest version daily
  api/v1alpha1/conditions_consts.go
  internal/sync/provider_sync.go
  internal/sync/provider_sync_test.go
Labels: kind/feature

#689 Setup tilt for etcd snapshot restore controller
  Makefile
  Tiltfile
  charts/rancher-turtles/templates/rancher-turtles-exp-etcdrestore-components.yaml
  config/default/kustomization.yaml
  exp/etcdrestore/api/v1alpha1/etcdmachinesnapshot_types.go
  exp/etcdrestore/api/v1alpha1/etcdsnapshotrestore_types.go
  exp/etcdrestore/config/certmanager/certificate.yaml
  exp/etcdrestore/config/certmanager/kustomization.yaml
  exp/etcdrestore/config/certmanager/kustomizeconfig.yaml
  exp/etcdrestore/config/crd/bases/turtles-capi.cattle.io_etcdmachinesnapshots.yaml
  exp/etcdrestore/config/crd/bases/turtles-capi.cattle.io_etcdsnapshotrestores.yaml
  exp/etcdrestore/config/crd/kustomization.yaml
  exp/etcdrestore/config/crd/kustomizeconfig.yaml
  exp/etcdrestore/config/crd/patches/turtles-capi.cattle.io_etcdmachinesnapshots.yaml
  exp/etcdrestore/config/crd/patches/turtles-capi.cattle.io_etcdsnapshotrestores.yaml
  exp/etcdrestore/config/default/kustomization.yaml
  exp/etcdrestore/config/default/kustomizeconfig.yaml
  exp/etcdrestore/config/default/manager_image_patch.yaml
  exp/etcdrestore/config/default/manager_pull_policy.yaml
  exp/etcdrestore/config/default/manager_role_aggregation_patch.yaml
  exp/etcdrestore/config/default/manager_webhook_patch.yaml
  exp/etcdrestore/config/default/webhookcainjection_patch.yaml
  exp/etcdrestore/config/manager/kustomization.yaml
  exp/etcdrestore/config/manager/manager.yaml
  exp/etcdrestore/config/rbac/aggregated_role.yaml
  exp/etcdrestore/config/rbac/kustomization.yaml
  exp/etcdrestore/config/rbac/leader_election_role.yaml
  exp/etcdrestore/config/rbac/leader_election_role_binding.yaml
  exp/etcdrestore/config/rbac/manager_role_aggregation_patch.yaml
  exp/etcdrestore/config/rbac/role.yaml
  exp/etcdrestore/config/rbac/role_binding.yaml
  exp/etcdrestore/config/rbac/service_account.yaml
  exp/etcdrestore/config/webhook/kustomization.yaml
  exp/etcdrestore/config/webhook/kustomizeconfig.yaml
  exp/etcdrestore/config/webhook/manifests.yaml
  exp/etcdrestore/config/webhook/service.yaml
  exp/etcdrestore/controllers/suite_test.go
  exp/etcdrestore/webhooks/suite_test.go
  scripts/turtles-dev.sh
Labels: kind/feature

#695 Add system-agent installation script to etcd restore
  charts/rancher-turtles/templates/rancher-turtles-exp-etcdrestore-components.yaml
  exp/etcdrestore/config/default/kustomization.yaml
  exp/etcdrestore/config/webhook/manifests.yaml
  exp/etcdrestore/main.go
  exp/etcdrestore/webhooks/install.sh
  exp/etcdrestore/webhooks/installsh.go
  exp/etcdrestore/webhooks/rke2config.go
  exp/etcdrestore/webhooks/rke2config_test.go
  tilt-settings.json.example
  tilt/project/Tiltfile
Labels: kind/feature

#700 Remove etcd restore feature gate from code
  charts/rancher-turtles/templates/deployment.yaml
  feature/feature.go
Labels: kind/refactor

#703 🌱 Perform ETCD snapshot restore ownership sync
  exp/etcdrestore/controllers/etcdsnapshot_secret_controller.go
  exp/etcdrestore/main.go
  exp/etcdrestore/webhooks/rke2config.go
  exp/etcdrestore/webhooks/rke2config_test.go
Labels: kind/chore
