Repository rancher/turtles, pull requests merged in 2024-02, with the labels that each got.

#357 docs: managementv3 cluster support strategy
  docs/adr/0008-managementv3-clusters-support.md
Labels: kind/documentation

#372 chore: e2e environment with fixed capd version
  test/e2e/data/capi-operator/capi-providers.yaml
Labels: kind/chore

#383 chore: update development environment script
  scripts/turtles-dev.sh
Labels: kind/chore

#392 👾 Add dependabot rule to bump CAPI Operator dependency as early as possible
  .github/dependabot.yaml
Labels: kind/feature

#395 🌱 Update tests to use same envtest helper, add eventual checks for cache consistency
  Makefile
  internal/controllers/import_controller_test.go
  internal/controllers/patch_kcfg_controller_test.go
  internal/controllers/suite_test.go
  internal/sync/secret_mapper_sync_test.go
  internal/sync/suite_test.go
  internal/test/envtest.go
  internal/test/helpers/envtest.go
  util/predicates/cluster_predicates.go
  util/predicates/cluster_predicates_test.go
  util/predicates/suite_test.go
Labels: kind/chore

#390 🪴 Rancher credentials lookup by namespace name
  api/v1alpha1/capiprovider_types.go
  charts/rancher-turtles/templates/rancher-turtles-components.yaml
  config/crd/bases/turtles-capi.cattle.io_capiproviders.yaml
  internal/sync/secret_mapper_sync.go
  internal/sync/secret_mapper_sync_test.go
Labels: kind/chore

#398 :bug: Fix dependabot duplicate rule issue
  .github/dependabot.yaml
Labels: kind/bug
