Repository rancher/turtles, pull requests merged in 2024-01, with the labels that each got.

#302 ✨Integrate CAPIProvider in helm chart
  charts/rancher-turtles/templates/core-provider.yaml
  charts/rancher-turtles/templates/kubeadm-bootstrap.yaml
  charts/rancher-turtles/templates/kubeadm-control-plane.yaml
  charts/rancher-turtles/templates/rancher-turtles-components.yaml
  charts/rancher-turtles/values.yaml
  config/rbac/role.yaml
  test/e2e/const.go
  test/e2e/data/capi-operator/capa-variables.yaml
  test/e2e/data/capi-operator/capi-providers-secret.yaml
  test/e2e/data/capi-operator/capi-providers.yaml
  test/e2e/data/capi-operator/capz-variables.yaml
  test/e2e/data/capi-operator/full-providers.yaml
  test/e2e/suites/embedded-capi-disabled/suite_test.go
  test/e2e/suites/import-gitops/suite_test.go
  test/e2e/suites/update-labels/suite_test.go
  test/e2e/suites/v2prov/suite_test.go
  test/testenv/turtles.go
Labels: kind/feature

#334 🐛 Variable secrets should be created in existing namespaces
  test/e2e/data/capi-operator/capa-variables.yaml
  test/e2e/data/capi-operator/capz-identity-secret.yaml
  test/e2e/data/capi-operator/full-providers.yaml
Labels: kind/bug

#187 ✨Add vSphere e2e tests
  .envrc.example
  .gitignore
  go.mod
  go.sum
  internal/sync/core.go
  internal/sync/provider_sync_test.go
  test/e2e/README.md
  test/e2e/config/operator.yaml
  test/e2e/const.go
  test/e2e/data/capi-operator/capv-provider.yaml
  test/e2e/data/capi-operator/capv-variables.yaml
  test/e2e/data/cluster-templates/vsphere-kubeadm.yaml
  test/e2e/specs/import_gitops.go
  test/e2e/suites/embedded-capi-disabled/suite_test.go
  test/e2e/suites/import-gitops/import_gitops_test.go
  test/e2e/suites/import-gitops/suite_test.go
  test/e2e/suites/update-labels/suite_test.go
  test/e2e/suites/v2prov/suite_test.go
  test/testenv/operator.go
Labels: area/testing, kind/feature

#340 Bump github.com/go-git/go-git/v5 to v5.11.0
  test/go.mod
  test/go.sum
Labels: area/dependency, kind/chore, kind/security

#335 🌱 Implement full cluster artifact gathering for both clusters after each test run
  Makefile
  hack/ensure-kubectl.sh
  test/e2e/specs/import_gitops.go
  test/e2e/suites/update-labels/update_labels_test.go
  test/e2e/suites/v2prov/v2prov_test.go
  test/framework/rancher_helpers.go
  test/testenv/cleanup.go
Labels: kind/chore, status/needs-review

#342 ✨Implement initial rancher credentials mapping
  Makefile
  api/v1alpha1/capiprovider_conditions.go
  api/v1alpha1/capiprovider_wrapper.go
  api/v1alpha1/conditions_consts.go
  api/v1alpha1/groupversion_info.go
  api/v1alpha1/provider_types.go
  charts/rancher-turtles/Chart.yaml
  go.mod
  go.sum
  internal/api/wrapper.go
  internal/controllers/capiprovider_controller.go
  internal/sync/interface.go
  internal/sync/provider_sync.go
  internal/sync/secret_mapper_sync.go
  internal/sync/secret_mapper_sync_test.go
  internal/sync/templates/aws.ini
  internal/test/helpers/envtest.go
  main.go
  test/go.mod
  test/go.sum
Labels: kind/feature

#349 fix: installation on eks
  charts/rancher-turtles/templates/_helpers.tpl
Labels: kind/bug, area/build-and-release

#350 [Release 0.4] fix: installation on eks
  charts/rancher-turtles/templates/_helpers.tpl
Labels: kind/bug, area/build-and-release

#354 :bug: Separate k8s versions for management and child clusters, add a separate group for v2prov testing.
  internal/sync/provider_sync.go
  internal/sync/provider_sync_test.go
  test/e2e/config/operator.yaml
  test/e2e/const.go
  test/e2e/specs/import_gitops.go
  test/e2e/suites/embedded-capi-disabled/suite_test.go
  test/e2e/suites/import-gitops/suite_test.go
  test/e2e/suites/update-labels/suite_test.go
  test/e2e/suites/v2prov/suite_test.go
Labels: kind/bug

#358 :bug: Slow down nightly schedule 2 times, to prevent hitting data limit
  .github/workflows/e2e-long.yaml
Labels: kind/bug

#359 📖 Add release docs to Rancher Turtles repo
  docs/release.md
Labels: kind/documentation
