Repository rancher/turtles, pull requests merged in 2024-07, with the labels that each got.

#591 Check agent deployment based on `Ready` condition
  internal/controllers/helpers.go
  internal/controllers/import_controller.go
  internal/controllers/import_controller_v3.go
  internal/controllers/import_controller_v3_test.go
  internal/rancher/provisioning/v1/cluster.go
  internal/rancher/provisioning/v1/zz_generated.deepcopy.go
  test/e2e/helpers.go
Labels: kind/bug

#593 test: fix v1 controller test on embedded-capi-disabled suite
  test/e2e/suites/embedded-capi-disabled/embedded_capi_disabled_test.go
  test/e2e/suites/embedded-capi-disabled/suite_test.go
Labels: kind/chore

#597 🐛 Apply finalizer on rancher cluster to avoid re-create race condition
  internal/controllers/import_controller_v3.go
  internal/controllers/import_controller_v3_test.go
Labels: kind/bug

#594 test: restructure e2e v1v3 suites
  test/e2e/data/capi-operator/capi-providers.yaml
  test/e2e/suites/embedded-capi-disabled-v3/embedded_capi_disabled_v3_test.go
  test/e2e/suites/embedded-capi-disabled-v3/suite_test.go
  test/e2e/suites/import-gitops-v3/import_gitops_v3_test.go
  test/e2e/suites/import-gitops-v3/suite_test.go
  test/e2e/suites/import-gitops/import_gitops_test.go
Labels: kind/chore

#596 chore: add v3 checks to nightly + fix e2e naming in workflow yaml
  .github/workflows/e2e-long.yaml
Labels: kind/chore

#581 🌱 Support for management v3 downgrade to provisioning v1 with automigration
  charts/rancher-turtles/templates/post-upgrade-job.yaml
  internal/controllers/import_controller.go
  internal/controllers/import_controller_test.go
  internal/controllers/import_controller_v3.go
  main.go
  test/e2e/specs/migrate_gitops_provv1_mgmtv3.go
  test/e2e/suites/migrate-gitops/suite_test.go
  test/testenv/turtles.go
Labels: kind/chore

#606 Patch release v0.9.1
  internal/controllers/helpers.go
  internal/controllers/import_controller.go
  internal/controllers/import_controller_v3.go
  internal/controllers/import_controller_v3_test.go
  internal/rancher/provisioning/v1/cluster.go
  internal/rancher/provisioning/v1/zz_generated.deepcopy.go
  test/e2e/helpers.go
  test/e2e/suites/embedded-capi-disabled/embedded_capi_disabled_test.go
  test/e2e/suites/embedded-capi-disabled/suite_test.go
Labels: kind/bug

#607 docs: add notification step to release guide
  docs/release.md
Labels: kind/documentation

#609 ✨Add fleet addon config with auto-import label setting
  charts/rancher-turtles/templates/addon-provider-fleet.yaml
Labels: kind/feature

#610 Add RKE2 vSphere case to E2E suite
  test/e2e/config/operator.yaml
  test/e2e/const.go
  test/e2e/data/cluster-templates/vsphere-rke2.yaml
  test/e2e/specs/import_gitops.go
  test/e2e/specs/import_gitops_mgmtv3.go
  test/e2e/specs/migrate_gitops_provv1_mgmtv3.go
  test/e2e/suites/import-gitops/import_gitops_test.go
  test/framework/git_helper.go
Labels: kind/feature

#617 Fix gitea service type in E2E
  test/e2e/suites/embedded-capi-disabled-v3/suite_test.go
Labels: kind/bug
