Repository rancher/turtles, pull requests merged in 2024-04, with the labels that each got.

#452 🌱 Downgrade CAPI to 1.4.6
  charts/rancher-turtles/templates/clusterctl-config.yaml
Labels: kind/chore

#458 fix: chart changes for upgrade and uninstall
  charts/rancher-turtles/templates/core-provider.yaml
Labels: kind/bug, area/chart

#459 Fix nightly release CI job
  .github/workflows/release-workflow.yml
  .github/workflows/release_sign/action.yaml
Labels: kind/bug

#454 🌱 Revise questions.yaml and add missing options
  .github/workflows/test_chart.yaml
  charts/rancher-turtles/Chart.yaml
  charts/rancher-turtles/questions.yml
  charts/rancher-turtles/templates/core-provider.yaml
  charts/rancher-turtles/templates/post-delete-job.yaml
Labels: kind/chore

#463 chore: add tags to eks resources
  test/testenv/eksctl_provider.go
Labels: area/testing, kind/chore

#464 :bug: Exclude namespace selection from questions.yaml
  charts/rancher-turtles/questions.yml
Labels: kind/bug

#437 Install RKE2 by default
  .github/workflows/test_chart.yaml
  charts/rancher-turtles/questions.yml
  charts/rancher-turtles/templates/post-delete-job.yaml
  charts/rancher-turtles/templates/rke2-bootstrap.yaml
  charts/rancher-turtles/templates/rke2-controlplane.yaml
  charts/rancher-turtles/values.yaml
  test/testenv/turtles.go
Labels: kind/feature

#467 📖 Improve release docs
  docs/release.md
Labels: kind/documentation

#466 :seedling: chore: update references to documentation site
  CONTRIBUTING.md
  README.md
  charts/rancher-turtles/README.md
  charts/rancher-turtles/app-readme.md
Labels: kind/chore

#468 :chore: Remove s390x architecture from release packages
  .github/workflows/nightly-test-release.yaml
  .github/workflows/release.yaml
  Makefile
  hack/ensure-golangci-lint.sh
  scripts/image-digest.sh
Labels: kind/cleanup

#460 feat: add label propagation
  charts/rancher-turtles/questions.yml
  charts/rancher-turtles/templates/deployment.yaml
  charts/rancher-turtles/values.yaml
  feature/feature.go
  internal/controllers/import_controller.go
  internal/controllers/import_controller_v3.go
Labels: kind/feature

#471 Update dev-env script
  scripts/turtles-dev.sh
Labels: kind/cleanup

#470 🌱 Ensure controller always patches CAPIProvider status
  internal/controllers/capiprovider_controller.go
  internal/controllers/capiprovider_controller_test.go
  internal/controllers/import_controller_test.go
  internal/sync/provider_sync_test.go
  internal/sync/secret_mapper_sync.go
  internal/sync/secret_mapper_sync_test.go
Labels: kind/chore

#484 :seedling: cover cluster reimport after running e2e
  test/e2e/specs/import_gitops.go
  test/e2e/specs/import_gitops_mgmtv3.go
  test/e2e/suites/import-gitops/import_gitops_test.go
  test/e2e/suites/managementv3/managementv3_test.go
Labels: kind/enhancement, area/testing, kind/chore

#485 🌱 Perform helm chart upgrade tests in pre-submits
  test/e2e/const.go
  test/e2e/data/chartmuseum/deployment.yaml
  test/e2e/suites/import-gitops/suite_test.go
  test/framework/chartmuseum_helper.go
  test/testenv/charmuseum.go
  test/testenv/turtles.go
Labels: kind/chore

#511 chore: trying to use the org level runners
  .github/workflows/e2e-short-test.yaml
Labels: kind/chore

#512 chore: replace the tokens
  .github/workflows/e2e-short-test.yaml
Labels: kind/chore

#519 Add CAPRKE2 to e2e suite
  test/e2e/const.go
  test/e2e/data/cluster-templates/docker-rke2.yaml
  test/e2e/suites/import-gitops/import_gitops_test.go
Labels: kind/feature

#508 :bug: Ensure CAPIProviders are removed correctly on chart uninstall
  charts/rancher-turtles/Chart.yaml
  charts/rancher-turtles/templates/core-provider.yaml
  charts/rancher-turtles/templates/post-delete-job.yaml
  charts/rancher-turtles/templates/pre-delete-job.yaml
  charts/rancher-turtles/templates/rancher-turtles-components.yaml
  charts/rancher-turtles/templates/rke2-bootstrap.yaml
  charts/rancher-turtles/templates/rke2-controlplane.yaml
  config/crd/bases/turtles-capi.cattle.io_capiproviders.yaml
  config/crd/kustomization.yaml
  config/crd/patches/keep-crds.yaml
  go.mod
  go.sum
  main.go
  test/go.mod
  test/go.sum
Labels: kind/bug
