Repository rancher/turtles, pull requests merged in 2025-09, with the labels that each got.

#1570 feat: let wrangler manage certs
  api/v1alpha1/conditions_consts.go
  charts/rancher-turtles/questions.yml
  charts/rancher-turtles/templates/deployment.yaml
  charts/rancher-turtles/values.yaml
  feature/feature.go
  internal/controllers/operator_reconciler.go
Labels: kind/refactor, area/operator

#1644 Build separate Prime/Community versions
  Makefile
  internal/controllers/clusterctl/config-default.yaml
  internal/controllers/clusterctl/config-prime.yaml
  internal/controllers/clusterctl/config.go
  internal/controllers/clusterctl/config_default.go
  internal/controllers/clusterctl/config_prime.go
  internal/controllers/clusterctl/config_test.go
Labels: kind/epic, area/build-and-release

#1682 Rename config.yaml to config-default.yaml
  updatecli/updatecli.d/manifest.yaml
Labels: area/ci, kind/ci

#1652 ADR 0016: CAPI version pinning strategy
  docs/adr/0016-capi-version-pinning.md
Labels: area/installation, kind/documentation

#1680 Providers helm chart improvements
  charts/rancher-turtles-providers/templates/addon-fleet.yaml
  charts/rancher-turtles-providers/templates/bootstrap-kubeadm.yaml
  charts/rancher-turtles-providers/templates/bootstrap-rke2.yaml
  charts/rancher-turtles-providers/templates/controlplane-kubeadm.yaml
  charts/rancher-turtles-providers/templates/controlplane-rke2.yaml
  charts/rancher-turtles-providers/templates/infrastructure-aws.yaml
  charts/rancher-turtles-providers/templates/infrastructure-azure.yaml
  charts/rancher-turtles-providers/templates/infrastructure-docker.yaml
  charts/rancher-turtles-providers/templates/infrastructure-gcp.yaml
  charts/rancher-turtles-providers/templates/infrastructure-vsphere.yaml
  charts/rancher-turtles-providers/values.schema.json
  charts/rancher-turtles-providers/values.yaml
Labels: kind/enhancement, area/installation

#1725 Add helm policy keep to installed providers
  .github/workflows/test_chart.yaml
  charts/rancher-turtles/templates/addon-provider-fleet.yaml
  charts/rancher-turtles/templates/pre-delete-job.yaml
  charts/rancher-turtles/templates/rke2-bootstrap.yaml
  charts/rancher-turtles/templates/rke2-controlplane.yaml
Labels: kind/enhancement, area/installation

#1730 ci: Add attestation
  .github/workflows/release-v2.yaml
Labels: area/build-and-release, kind/release

#1733 [release/v0.25] ci: Add attestation
  .github/workflows/release-v2.yaml
Labels: kind/chore, area/ci, kind/release

#1754 Add backport automation GitHub workflow
  .github/workflows/backport-pr.yaml
Labels: area/build-and-release, kind/ci

#1757 Fix secret path for backport automation
  .github/workflows/backport-pr.yaml
Labels: area/build-and-release, kind/ci

#1762 fix: duplicate entries for v0.25.0-rc.0 and v0.25.0-rc.1
  index.yaml
Labels: kind/cleanup, area/chart
