Repository rancher/turtles, pull requests merged in 2025-04, with the labels that each got.

#1231 Remove unused release channel reference
  docs/release.md
Labels: kind/cleanup, area/documentation

#1236 :seedling: Update trivy CI workflow to use `ubuntu-latest` image
  .github/workflows/trivy.yml
Labels: area/ci, kind/ci

#1186 Improve e2e cleanup workflow
  .github/workflows/e2e-cleanup.yaml
  .github/workflows/e2e-image-clean.yaml
  .github/workflows/e2e-long.yaml
  .github/workflows/run-e2e-suite.yaml
  scripts/ekstcl-e2e-cleanup.sh
  test/e2e/suites/chart-upgrade/suite_test.go
  test/e2e/suites/etcd-snapshot-restore/suite_test.go
  test/e2e/suites/import-gitops-v3/suite_test.go
  test/e2e/suites/v2prov/suite_test.go
Labels: area/testing, kind/ci

#1235 Bump golangci-lint to v2
  .github/workflows/golangci-lint.yaml
  .golangci.yml
  Makefile
  api/rancher/management/v3/doc.go
  api/rancher/provisioning/v1/doc.go
  internal/controllers/clusterctlconfig_controller.go
  internal/controllers/import_controller_v3.go
  internal/controllers/uiplugin_controller.go
  internal/sync/provider_sync.go
  internal/sync/secret_mapper_sync.go
  internal/sync/secret_sync.go
  internal/test/helpers/envtest.go
Labels: kind/chore, area/ci, kind/ci

#1233 :seedling: Update CAPV+RKE2 test to use clusterclass
  examples/clusterclasses/vsphere/clusterclass-rke2-example.yaml
  examples/examples.go
  test/e2e/const.go
  test/e2e/data/cluster-templates/vsphere-rke2-topology.yaml
  test/e2e/suites/import-gitops-v3/import_gitops_v3_test.go
  test/framework/fleet_helper.go
Labels: kind/enhancement, area/testing, area/vsphere

#1238 Bump CAPI Operator to v0.18.1
  charts/rancher-turtles/Chart.yaml
  exp/day2/go.mod
  exp/day2/go.sum
  go.mod
  go.sum
  scripts/turtles-quickstart.sh
  test/go.mod
  test/go.sum
Labels: kind/bug, area/dependency

#1239 Replace deprecated `installCRDs` option with new Helm options
  .github/workflows/test_chart.yaml
  test/testenv/rancher.go
Labels: kind/chore, area/ci

#1234 feat: switch capv+cabpk test to clusterclass
  examples/clusterclasses/vsphere/clusterclass-kubeadm-example.yaml
  examples/examples.go
  test/e2e/const.go
  test/e2e/data/cluster-templates/vsphere-kubeadm-topology.yaml
  test/e2e/suites/import-gitops-v3/import_gitops_v3_test.go
Labels: kind/enhancement, area/testing

#1188 Create Fleet git repo in spec instead of suite
  test/e2e/specs/import_gitops_mgmtv3.go
  test/e2e/suites/import-gitops-v3/import_gitops_v3_test.go
Labels: kind/cleanup, area/ci

#1241 :seedling: Fix CAPV CI failure
  test/e2e/data/cluster-templates/vsphere-rke2-topology.yaml
  test/e2e/suites/import-gitops-v3/import_gitops_v3_test.go
Labels: area/ci, kind/ci

#1229 Update turtles-quickstart.sh script
  scripts/turtles-quickstart.sh
Labels: kind/cleanup, kind/enhancement, area/installation

#1242 :seedling: Deploy KCP and CABPK in test to prevent errors
  test/e2e/const.go
  test/e2e/suites/import-gitops-v3/import_gitops_v3_test.go
Labels: kind/bug, area/testing

#1246 Add CLUSTER_CLASS_NAME required var to turtles-quickstart.sh
  scripts/turtles-quickstart.sh
Labels: kind/regression, area/installation

#1243 Update Rancher image to v2.11.0 for turtles-quickstart.sh
  scripts/turtles-quickstart.sh
Labels: kind/enhancement, area/installation

#1240 Allow CAPZ cluster replicas change using example template
  examples/clusterclasses/azure/clusterclass-rke2-example.yaml
  test/e2e/suites/import-gitops-v3/import_gitops_v3_test.go
Labels: kind/bug, area/clusterclass

#1258 Do not allow skip resources cleanup for nightly tests
  .github/workflows/e2e-long.yaml
Labels: kind/cleanup, area/ci

#1259 Use fleet to install CNI/CPI/CSI for vSphere in e2e
  examples/applications/ccm/vsphere/helm-chart.yaml
  examples/applications/cni/calico/helm-chart.yaml
  examples/applications/csi/vsphere/bundle.yaml
  examples/examples.go
  test/e2e/data/cluster-templates/vsphere-kubeadm-topology.yaml
  test/e2e/suites/import-gitops-v3/import_gitops_v3_test.go
  test/framework/git_helper.go
Labels: kind/enhancement, area/testing

#1263 Add insecureSkipTLSVerify to Calico HelmApp
  examples/applications/cni/calico/helm-chart.yaml
Labels: kind/bug, area/fleet

#1266 Ensure Cluster is Ready in e2e tests
  examples/clusterclasses/azure/clusterclass-rke2-example.yaml
  test/e2e/specs/import_gitops_mgmtv3.go
Labels: kind/bug, area/ci

#1262 Remove locations where the community image is not present
  examples/clusterclasses/azure/clusterclass-rke2-example.yaml
Labels: kind/bug, area/azure

#1269 Enable Fleet bundles for Docker in e2e
  test/e2e/const.go
  test/e2e/suites/import-gitops-v3/import_gitops_v3_test.go
Labels: kind/enhancement, area/installation

#1201 Revert "Disable image override for ASO (#1040)"
  internal/controllers/clusterctl/config.yaml
Labels: kind/security, area/capz

#1271 🌱 Docker const values cleanup
  test/e2e/const.go
Labels: kind/cleanup, area/ci

#1280 Fix filename typo
  examples/clusterclasses/docker/clusterclass-docker-kubeadm.yaml
Labels: kind/cleanup, area/documentation

#1287 Remove unused label from Docker clusters
  test/e2e/data/cluster-templates/docker-kubeadm-topology.yaml
  test/e2e/data/cluster-templates/docker-rke2-topology.yaml
Labels: kind/cleanup, area/clusterclass

#1289 Use Rancher v2.11.0 for testing
  scripts/turtles-dev.sh
  test/e2e/config/operator.yaml
Labels: kind/cleanup, area/testing

#1297 Update to Rancher v2.11.0
  .github/workflows/test_chart.yaml
  test/e2e/README.md
Labels: kind/cleanup, area/ci

#1295 Remove the ClusterClass template from the e2e path
  test/e2e/const.go
  test/e2e/data/cluster-templates/docker-rke2.yaml
  test/e2e/specs/etcd_snapshot_restore.go
  test/e2e/suites/etcd-snapshot-restore/etcd_snapshot_restore_test.go
Labels: kind/cleanup, area/ci

#1290 feat: add capa+cabpk clusterclass example and test
  examples/applications/ccm/aws/fleet-bundle.yaml
  examples/clusterclasses/aws/clusterclass-kubeadm-example.yaml
  test/e2e/const.go
  test/e2e/data/cluster-templates/aws-kubeadm-topology.yaml
  test/e2e/suites/import-gitops-v3/import_gitops_v3_test.go
Labels: kind/enhancement, area/clusterclass

#1304 Run e2e nightly every day
  .github/workflows/e2e-long.yaml
Labels: area/testing, area/ci, kind/ci

#1300 Use fleet for aws kubeadm e2e
  examples/applications/cni/aws/calico/helm-chart.yaml
  examples/applications/csi/aws/helm-chart.yaml
  examples/clusterclasses/aws/clusterclass-kubeadm-example.yaml
  test/e2e/data/cluster-templates/aws-kubeadm-topology.yaml
  test/e2e/suites/import-gitops-v3/import_gitops_v3_test.go
Labels: kind/enhancement, area/testing

#1288 Update kube-vip image for vSphere example
  test/e2e/data/cluster-templates/vsphere-kubeadm-topology.yaml
  test/e2e/data/cluster-templates/vsphere-rke2-topology.yaml
Labels: area/vsphere, kind/ci

#1307 🌱 Bump CAPRKE2 to v0.14.0 latest release
  exp/day2/go.mod
  exp/day2/go.sum
  internal/controllers/clusterctl/config.yaml
Labels: area/dependency, kind/chore

#1306 Remove dependency on gitea
  test/e2e/helpers.go
  test/e2e/specs/etcd_snapshot_restore.go
  test/e2e/specs/import_gitops_mgmtv3.go
  test/e2e/suites/etcd-snapshot-restore/etcd_snapshot_restore_test.go
  test/e2e/suites/etcd-snapshot-restore/suite_test.go
  test/e2e/suites/import-gitops-v3/import_gitops_v3_test.go
  test/e2e/suites/import-gitops-v3/suite_test.go
Labels: kind/cleanup, area/ci

#1310 🌱 Bump CAPI Operator to v0.19.0 latest release
  charts/rancher-turtles/Chart.yaml
  charts/rancher-turtles/templates/rancher-turtles-components.yaml
  charts/rancher-turtles/templates/rancher-turtles-exp-day2-components.yaml
  config/crd/bases/turtles-capi.cattle.io_capiproviders.yaml
  exp/day2/config/crd/bases/turtles-capi.cattle.io_etcdsnapshotrestores.yaml
  exp/day2/go.mod
  exp/day2/go.sum
  go.mod
  go.sum
  test/e2e/helpers.go
  test/e2e/specs/etcd_snapshot_restore.go
  test/e2e/specs/import_gitops_mgmtv3.go
  test/e2e/suites/chart-upgrade/suite_test.go
  test/e2e/suites/etcd-snapshot-restore/suite_test.go
  test/e2e/suites/import-gitops-v3/import_gitops_v3_test.go
  test/e2e/suites/import-gitops-v3/suite_test.go
  test/e2e/suites/v2prov/suite_test.go
  test/e2e/suites/v2prov/v2prov_test.go
  test/go.mod
  test/go.sum
Labels: area/dependency, kind/chore

#1322 Use rancherInstalled value for FleetAddon ConfigMap sync
  charts/rancher-turtles/templates/addon-provider-fleet.yaml
Labels: kind/enhancement, area/fleet

#1312 Use fleet to deploy CNI across *some* providers
  .github/workflows/e2e-short.yaml
  examples/applications/cni/calico/helm-chart.yaml
  examples/applications/cni/kindnet/kindnet.yaml
  examples/examples.go
  test/e2e/const.go
  test/e2e/data/cluster-api-addon-provider-fleet/host-network-patch.yaml
  test/e2e/data/cni/calico.yaml
  test/e2e/specs/etcd_snapshot_restore.go
  test/e2e/specs/import_gitops_mgmtv3.go
  test/e2e/suites/import-gitops-v3/import_gitops_v3_test.go
  test/framework/fleet_helper.go
  test/framework/git_helper.go
Labels: kind/cleanup, area/clusterclass

#1314 🌱 Bump core dependencies to newer versions
  .github/workflows/e2e-self-hosted.yaml
  .github/workflows/test_chart.yaml
  Makefile
  charts/rancher-turtles/Chart.yaml
  charts/rancher-turtles/questions.yml
  charts/rancher-turtles/values.yaml
  examples/clusterclasses/docker/clusterclass-docker-rke2.yaml
  exp/README.md
  exp/clusterclass/go.mod
  exp/clusterclass/go.sum
  exp/day2/go.mod
  exp/day2/go.sum
  go.mod
  go.sum
  hack/ensure-kubectl.sh
  internal/controllers/clusterctl/config.yaml
  internal/controllers/clusterctl/config_test.go
  internal/controllers/testdata/import_sample.yaml
  internal/sync/provider_sync_test.go
  scripts/kind-cluster-with-extramounts.yaml
  scripts/turtles-quickstart.sh
  test/e2e/README.md
  test/e2e/config/operator.yaml
  test/e2e/const.go
  test/e2e/data/cluster-templates/vsphere-rke2-topology.yaml
  test/e2e/suites/chart-upgrade/chart_upgrade_test.go
  test/go.mod
  test/go.sum
Labels: area/dependency, kind/chore

#1321 test: increase cpu for aws/rke2 test
  test/e2e/config/operator.yaml
  test/e2e/data/cluster-templates/aws-ec2-rke2-topology.yaml
Labels: kind/enhancement, area/testing

#1325 📖 Fix release GHA reference in release docs
  docs/release.md
Labels: area/documentation, kind/release

#1328 Revert dependency bumps
  .github/workflows/e2e-self-hosted.yaml
  .github/workflows/test_chart.yaml
  Makefile
  charts/rancher-turtles/Chart.yaml
  charts/rancher-turtles/questions.yml
  charts/rancher-turtles/templates/rancher-turtles-components.yaml
  charts/rancher-turtles/templates/rancher-turtles-exp-day2-components.yaml
  charts/rancher-turtles/values.yaml
  config/crd/bases/turtles-capi.cattle.io_capiproviders.yaml
  examples/clusterclasses/docker/clusterclass-docker-rke2.yaml
  exp/README.md
  exp/clusterclass/go.mod
  exp/clusterclass/go.sum
  exp/day2/config/crd/bases/turtles-capi.cattle.io_etcdsnapshotrestores.yaml
  exp/day2/go.mod
  exp/day2/go.sum
  go.mod
  go.sum
  hack/ensure-kubectl.sh
  internal/controllers/clusterctl/config.yaml
  internal/controllers/clusterctl/config_test.go
  internal/sync/provider_sync_test.go
  scripts/kind-cluster-with-extramounts.yaml
  scripts/turtles-quickstart.sh
  test/e2e/README.md
  test/e2e/config/operator.yaml
  test/e2e/const.go
  test/e2e/data/cluster-templates/vsphere-rke2-topology.yaml
  test/e2e/helpers.go
  test/e2e/specs/etcd_snapshot_restore.go
  test/e2e/specs/import_gitops_mgmtv3.go
  test/e2e/suites/chart-upgrade/chart_upgrade_test.go
  test/e2e/suites/chart-upgrade/suite_test.go
  test/e2e/suites/etcd-snapshot-restore/suite_test.go
  test/e2e/suites/import-gitops-v3/import_gitops_v3_test.go
  test/e2e/suites/import-gitops-v3/suite_test.go
  test/e2e/suites/v2prov/suite_test.go
  test/e2e/suites/v2prov/v2prov_test.go
  test/go.mod
  test/go.sum
Labels: area/dependency, kind/ci

#1327 Use predictable resourceGroup for AKS nodes
  examples/clusterclasses/azure/clusterclass-aks-example.yaml
Labels: kind/enhancement, area/documentation, area/azure

#1320 Add helm chart values validation
  charts/rancher-turtles/values.schema.json
  charts/rancher-turtles/values.yaml
Labels: kind/enhancement, area/chart

#1332 Replace crs ec2 rke2
  examples/applications/ccm/aws-helm/helm-chart.yaml
  examples/applications/csi/aws/helm-chart.yaml
  examples/examples.go
  test/e2e/const.go
  test/e2e/data/cluster-templates/aws-ec2-rke2-topology.yaml
  test/e2e/data/cpi-csi/aws.yaml
  test/e2e/suites/import-gitops-v3/import_gitops_v3_test.go
Labels: kind/enhancement, area/clusterclass

#1324 :seedling: Promote addon-provider-fleet feature to GA
  charts/rancher-turtles/questions.yml
  charts/rancher-turtles/templates/addon-provider-fleet.yaml
  charts/rancher-turtles/templates/deployment.yaml
  charts/rancher-turtles/values.yaml
  feature/feature.go
  internal/controllers/import_controller_v3.go
  internal/controllers/suite_test.go
Labels: kind/enhancement, area/chart

#1333 Bump RKE2 version in e2e
  test/e2e/config/operator.yaml
  test/e2e/data/cluster-templates/aws-ec2-rke2-topology.yaml
  test/e2e/data/cluster-templates/azure-rke2-topology.yaml
Labels: kind/enhancement, area/testing

#1326 :seedling: Promote agent-tls-mode feature to beta
  charts/rancher-turtles/values.yaml
  feature/feature.go
  internal/controllers/import_controller_v3_test.go
Labels: kind/enhancement, area/chart

#1319 vSphere RKE2 Class improvements
  .github/workflows/e2e-long.yaml
  .github/workflows/run-vsphere-tests.yaml
  examples/applications/ccm/vsphere/helm-chart.yaml
  examples/applications/cni/calico/helm-chart.yaml
  examples/applications/csi/vsphere/bundle.yaml
  examples/clusterclasses/aws/kubeadm/clusterclass-kubeadm-example.yaml
  examples/clusterclasses/aws/rke2/clusterclass-ec2-rke2-example.yaml
  examples/clusterclasses/azure/aks/clusterclass-aks-example.yaml
  examples/clusterclasses/azure/rke2/clusterclass-rke2-example.yaml
  examples/clusterclasses/docker/kubeadm/clusterclass-docker-kubeadm.yaml
  examples/clusterclasses/docker/rke2/clusterclass-docker-rke2.yaml
  examples/clusterclasses/vsphere/clusterclass-rke2-example.yaml
  examples/clusterclasses/vsphere/kubeadm/clusterclass-kubeadm-example.yaml
  examples/clusterclasses/vsphere/rke2/clusterclass-rke2-example.yaml
  examples/examples.go
  test/e2e/const.go
  test/e2e/data/capi-operator/capv-identity-secret.yaml
  test/e2e/data/capi-operator/capv-provider.yaml
  test/e2e/data/cluster-templates/vsphere-kubeadm-topology.yaml
  test/e2e/data/cluster-templates/vsphere-rke2-topology.yaml
  test/e2e/specs/import_gitops_mgmtv3.go
  test/e2e/suites/import-gitops-v3/import_gitops_v3_test.go
Labels: kind/refactor, area/testing, area/clusterclass, area/documentation, area/vsphere, area/caprke2
