Repository rancher/turtles, pull requests merged in 2025-05, with the labels that each got.

#1341 vSphere Kubeadm Class improvements
  examples/clusterclasses/vsphere/kubeadm/clusterclass-kubeadm-example.yaml
  examples/clusterclasses/vsphere/rke2/clusterclass-rke2-example.yaml
  test/e2e/data/cluster-templates/vsphere-kubeadm-topology.yaml
  test/e2e/suites/import-gitops-v3/import_gitops_v3_test.go
Labels: kind/cleanup, kind/enhancement, kind/refactor, area/testing, area/clusterclass, area/vsphere

#1342 Delete unused e2e ClusterResourceSets
  test/e2e/data/cluster-templates/aws-ec2-rke2-topology.yaml
Labels: kind/cleanup, area/testing

#1337 Use fixed image tag for AWS CPI
  examples/applications/ccm/aws-helm/helm-chart.yaml
Labels: kind/enhancement, area/fleet

#1353 Override CAAPF provider image source to downstream one
  internal/controllers/clusterctl/config.yaml
  internal/controllers/clusterctl/config_test.go
  test/e2e/suites/chart-upgrade/chart_upgrade_test.go
  updatecli/updatecli.d/manifest.yaml
Labels: kind/bug, area/airgapped

#1357 Add oci option to fetchConfig validation
  api/v1alpha1/capiprovider_types.go
  charts/rancher-turtles/templates/rancher-turtles-components.yaml
  config/crd/bases/turtles-capi.cattle.io_capiproviders.yaml
Labels: kind/bug, area/api

#1360 Pin Calico chart to v3.29.3
  examples/applications/cni/calico/helm-chart.yaml
Labels: kind/regression, area/testing, area/clusterclass

#1362 add docker rke2 cluster example
  examples/applications/lb/docker/configmap.yaml
  examples/clusters/docker/rke2/cluster.yaml
Labels: kind/enhancement, area/documentation

#1355 Enable long run in pre-submits via the merge-queue
  .github/workflows/e2e-long.yaml
  test/e2e/specs/etcd_snapshot_restore.go
  test/e2e/specs/import_gitops_mgmtv3.go
Labels: kind/enhancement, area/ci, kind/ci

#1368 Remove insecure-skip-verify usage from test environment
  internal/controllers/import_controller_v3_test.go
  scripts/turtles-quickstart.sh
  test/e2e/data/rancher/rancher-setting-patch.yaml
  test/testenv/turtles.go
  tilt/project/Tiltfile
Labels: kind/cleanup, area/testing

#1372 :seedling: Bump Go version to 1.23.9
  .github/workflows/codeql.yml
  .github/workflows/dependabot.yml
  .github/workflows/e2e-image-publish.yaml
  .github/workflows/e2e-short.yaml
  .github/workflows/golangci-lint.yaml
  .github/workflows/nightly-test-release.yaml
  .github/workflows/release-workflow.yaml
  .github/workflows/release_build/action.yaml
  .github/workflows/run-e2e-suite.yaml
  .github/workflows/run-vsphere-tests.yaml
  .github/workflows/test_chart.yaml
  Makefile
  exp/clusterclass/go.mod
  exp/day2/go.mod
  go.mod
  test/go.mod
  tilt/project/Tiltfile
Labels: area/dependency, kind/chore

#1375 Remove insecure-skip-verify option from Tiltfile
  tilt/project/Tiltfile
Labels: kind/cleanup, area/ci

#1377 Pin calico chart version for AWS
  examples/applications/cni/aws/calico/helm-chart.yaml
Labels: kind/bug, area/testing

#1376 Bump CAPRKE2 to version v0.15.1
  exp/day2/go.mod
  exp/day2/go.sum
  internal/controllers/clusterctl/config.yaml
  test/go.mod
  test/go.sum
Labels: area/dependency, kind/chore

#1382 Set higher memory limits for the CAPI Operator
  charts/rancher-turtles/values.schema.json
  charts/rancher-turtles/values.yaml
Labels: kind/bug, area/operator

#1381 Use SystemStore agent-tls-setting with ngrok
  scripts/turtles-dev.sh
  scripts/turtles-quickstart.sh
Labels: kind/regression, area/import

#1380 Fix AWS Kubeadm e2e
  examples/applications/ccm/aws/fleet-bundle.yaml
  examples/applications/ccm/aws/helm-chart.yaml
  examples/applications/cni/aws/calico/helm-chart.yaml
  examples/examples.go
  test/e2e/config/operator.yaml
  test/e2e/data/cluster-templates/aws-kubeadm-topology.yaml
  test/e2e/suites/import-gitops-v3/import_gitops_v3_test.go
Labels: kind/regression, area/testing, area/capa, area/ci

#1388 Add examples tooling
  .github/dependabot.yaml
  examples/README.md
  examples/go.mod
  examples/go.sum
  examples/main.go
Labels: kind/enhancement, area/clusterclass

#1391 Bump CAPRKE2 to v0.16.0
  exp/day2/go.mod
  exp/day2/go.sum
  internal/controllers/clusterctl/config.yaml
Labels: area/dependency, kind/chore

#1394 Suggest go workspace setup for Examples CLI Tool
  examples/README.md
Labels: kind/enhancement, area/documentation

#1398 Bump CAAPF to v0.10.0
  internal/controllers/clusterctl/config.yaml
  internal/controllers/clusterctl/config_test.go
Labels: area/dependency, kind/chore

#1401 chore: bump golangci lint action to 8
  .github/workflows/golangci-lint.yaml
  internal/controllers/capiprovider_controller.go
Labels: kind/chore, area/ci
