Repository rancher/turtles, pull requests merged in 2025-06, with the labels that each got.

#1417 Support system store mode for kind+ngrok e2e setup
  test/e2e/const.go
  test/e2e/data/rancher/system-store-setting-patch.yaml
  test/testenv/rancher.go
Labels: kind/bug, area/testing

#1418 Add Azure kubeadm clusterclass example
  examples/applications/ccm/azure/helm-chart.yaml
  examples/applications/cni/calico/helm-chart.yaml
  examples/clusterclasses/azure/kubeadm/clusterclass-kubeadm-example.yaml
  test/e2e/config/operator.yaml
  test/e2e/const.go
  test/e2e/data/cluster-templates/azure-kubeadm-topology.yaml
  test/e2e/suites/import-gitops-v3/import_gitops_v3_test.go
Labels: kind/enhancement, area/capz, area/kubeadm

#1404 Print e2e Rancher kubeconfig secret key
  test/framework/rancher_helpers.go
Labels: kind/ci, area/capv

#1439 Update to caprke2 v0.16.2
  exp/day2/go.mod
  exp/day2/go.sum
  internal/controllers/clusterctl/config.yaml
Labels: area/caprke2, kind/release

#1444 Bump ngrok operator for dev env
  scripts/turtles-dev.sh
Labels: kind/cleanup, area/dependency

#1432 [vSphere][RKE2] Add docker.io registry authentication support
  .github/workflows/run-vsphere-tests.yaml
  examples/clusterclasses/vsphere/rke2/clusterclass-rke2-example.yaml
  test/e2e/config/operator.yaml
  test/e2e/data/cluster-templates/vsphere-rke2-topology.yaml
Labels: kind/enhancement, area/testing

#1456 Fix kube-vip static pod location and add a label
  examples/clusterclasses/vsphere/rke2/clusterclass-rke2-example.yaml
Labels: kind/bug, area/examples

#1454 Add ability to run examples CLI with `go run` from tag
  docs/release.md
  examples/README.md
Labels: kind/documentation, area/examples

#1460 Use different load balancer IPs for vSphere e2e
  .github/workflows/run-vsphere-tests.yaml
  test/e2e/README.md
  test/e2e/config/operator.yaml
  test/e2e/data/cluster-templates/vsphere-kubeadm-topology.yaml
  test/e2e/data/cluster-templates/vsphere-rke2-topology.yaml
  test/e2e/suites/import-gitops-v3/import_gitops_v3_test.go
Labels: kind/ci, area/capv

#1447 Bump caapf to v0.10.1
  internal/controllers/clusterctl/config.yaml
Labels: area/dependency, kind/chore

#1465 Add AMI ID optional variable in AWS Kubeadm Class
  examples/clusterclasses/aws/kubeadm/clusterclass-kubeadm-example.yaml
Labels: kind/enhancement, area/clusterclass, area/ci

#1462 Fix Azure classes network templating
  examples/clusterclasses/azure/kubeadm/clusterclass-kubeadm-example.yaml
  examples/clusterclasses/azure/rke2/clusterclass-rke2-example.yaml
Labels: kind/bug, area/clusterclass

#1464 Use AWSClusterStaticIdentity
  .github/workflows/run-e2e-suite.yaml
  examples/clusterclasses/aws/kubeadm/clusterclass-kubeadm-example.yaml
  examples/clusterclasses/aws/rke2/clusterclass-ec2-rke2-example.yaml
  test/e2e/README.md
  test/e2e/config/operator.yaml
  test/e2e/const.go
  test/e2e/data/capi-operator/aws-provider.yaml
  test/e2e/data/capi-operator/capa-identity-secret.yaml
  test/e2e/data/cluster-templates/aws-ec2-rke2-topology.yaml
  test/e2e/data/cluster-templates/aws-eks-mmp.yaml
  test/e2e/data/cluster-templates/aws-kubeadm-topology.yaml
  test/e2e/suites/import-gitops-v3/import_gitops_v3_test.go
  test/testenv/operator.go
Labels: kind/enhancement, area/clusterclass, area/capa

#1475 Fix broken devcontainer build
  .devcontainer/devcontainer.json
Labels: area/build-and-release, kind/chore

#1480 Increase ginkgo nodes for parallel vSphere e2e
  .github/workflows/run-vsphere-tests.yaml
  test/e2e/specs/etcd_snapshot_restore.go
  test/e2e/specs/import_gitops_mgmtv3.go
  test/e2e/suites/v2prov/v2prov_test.go
  test/framework/rancher_helpers.go
Labels: kind/ci, area/capv

#1479 Add new example for CAPG/Kubeadm
  .github/workflows/run-e2e-suite.yaml
  examples/applications/ccm/gcp/bundle.yaml
  examples/applications/cni/calico/helm-chart.yaml
  examples/clusterclasses/gcp/kubeadm/clusterclass-kubeadm-example.yaml
  test/e2e/config/operator.yaml
  test/e2e/const.go
  test/e2e/data/cluster-templates/gcp-kubeadm-topology.yaml
  test/e2e/suites/import-gitops-v3/import_gitops_v3_test.go
Labels: kind/enhancement, area/capg

#1487 Bump CAPRKE2 to v0.17.0
  exp/day2/go.mod
  exp/day2/go.sum
  internal/controllers/clusterctl/config.yaml
Labels: kind/chore, area/rke2

#1429 Use OCI artifacts for CAPI providers
  test/e2e/const.go
  test/e2e/data/capi-operator/capi-providers-oci.yaml
  test/e2e/data/capi-operator/gcp-provider.yaml
  test/e2e/suites/import-gitops-v3/import_gitops_v3_test.go
  test/framework/kube_helper.go
  test/go.mod
  test/testenv/operator.go
Labels: kind/epic, area/ci
