Repository rancher/turtles, pull requests merged in 2025-01, with the labels that each got.

#961 Re-enable CAPRKE2 template in e2e, updated to work with CAPI 1.9+
  exp/README.md
  exp/etcdrestore/controllers/etcdmachinesnapshot_controller.go
  exp/etcdrestore/controllers/etcdsnapshotsync_controller.go
  exp/etcdrestore/main.go
  test/e2e/const.go
  test/e2e/data/cluster-templates/docker-kubeadm.yaml
  test/e2e/data/cluster-templates/docker-rke2.yaml
  test/e2e/data/cni/kindnet.yaml
  test/e2e/specs/import_gitops.go
  test/e2e/specs/import_gitops_mgmtv3.go
  test/e2e/specs/migrate_gitops_provv1_mgmtv3.go
  test/e2e/suites/import-gitops-v3/import_gitops_v3_test.go
  test/e2e/suites/import-gitops/import_gitops_test.go
  test/e2e/suites/migrate-gitops/migrate_gitops_provv1_mgmtv3_test.go
  test/go.mod
  test/go.sum
Labels: area/testing, kind/feature

#949 Bump CAPRKE2/CAPI Operator
  charts/rancher-turtles/Chart.yaml
  exp/etcdrestore/go.mod
  exp/etcdrestore/go.sum
  go.mod
  go.sum
  internal/controllers/clusterctl/config.yaml
Labels: area/dependency

#863 feat: add clusterclass exp feature scaffolding
  Makefile
  Tiltfile
  exp/clusterclass/api/v1alpha1/clusterupgradegroup_types.go
  exp/clusterclass/api/v1alpha1/groupversion_info.go
  exp/clusterclass/api/v1alpha1/zz_generated.deepcopy.go
  exp/clusterclass/config/crd/bases/rollout.turtles-capi.cattle.io_clusterupgradegroups.yaml
  exp/clusterclass/config/crd/bases/rollout.turtles-capi.cattle.io_clusterupgrades.yaml
  exp/clusterclass/config/crd/kustomization.yaml
  exp/clusterclass/config/crd/kustomizeconfig.yaml
  exp/clusterclass/config/default/kustomization.yaml
  exp/clusterclass/config/default/manager_image_patch.yaml
  exp/clusterclass/config/default/manager_pull_policy.yaml
  exp/clusterclass/config/manager/kustomization.yaml
  exp/clusterclass/config/manager/manager.yaml
  exp/clusterclass/config/rbac/aggregated_role.yaml
  exp/clusterclass/config/rbac/kustomization.yaml
  exp/clusterclass/config/rbac/leader_election_role.yaml
  exp/clusterclass/config/rbac/leader_election_role_binding.yaml
  exp/clusterclass/config/rbac/manager_role_aggregation_patch.yaml
  exp/clusterclass/config/rbac/role.yaml
  exp/clusterclass/config/rbac/role_binding.yaml
  exp/clusterclass/config/rbac/service_account.yaml
  exp/clusterclass/config/samples/class1.yaml
  exp/clusterclass/config/samples/class2.yaml
  exp/clusterclass/config/samples/cluster1.yaml
  exp/clusterclass/config/samples/cluster2.yaml
  exp/clusterclass/config/samples/cluster3.yaml
  exp/clusterclass/config/samples/cluster4.yaml
  exp/clusterclass/config/samples/clusterupgradegroup.yaml
  exp/clusterclass/config/samples/clusterupgradegroup2.yaml
  exp/clusterclass/go.mod
  exp/clusterclass/go.sum
  exp/clusterclass/internal/controller/clusterupgradegroup_controller.go
  exp/clusterclass/internal/controller/suite_test.go
  exp/clusterclass/internal/matcher/clustermatcher.go
  exp/clusterclass/main.go
  scripts/turtles-dev.sh
Labels: kind/feature, area/clusterclass

#977 Add ability to leverage agent tls mode setting
  Makefile
  api/rancher/management/v3/setting.go
  charts/rancher-turtles/questions.yml
  charts/rancher-turtles/templates/deployment.yaml
  charts/rancher-turtles/values.yaml
  feature/feature.go
  go.mod
  internal/controllers/helpers.go
  internal/controllers/helpers_test.go
  internal/controllers/import_controller.go
  internal/controllers/import_controller_v3.go
Labels: kind/feature

#987 Use correct binary path for snapshot/restore, adapt Tilt config
  Tiltfile
  charts/rancher-turtles/templates/rancher-turtles-exp-etcdrestore-components.yaml
  exp/etcdrestore/config/default/manager_image_patch.yaml
  tilt/project/Tiltfile
Labels: kind/bug

#939 charts: Replace hardcoded namespaces
  charts/rancher-turtles/templates/post-delete-job.yaml
  charts/rancher-turtles/templates/post-upgrade-job.yaml
  charts/rancher-turtles/templates/pre-delete-job.yaml
  charts/rancher-turtles/templates/pre-install-job.yaml
Labels: kind/enhancement

#986 Permit using github release or preloaded binary for system-agent
  exp/etcdrestore/webhooks/install.sh
  exp/etcdrestore/webhooks/rke2config.go
  exp/etcdrestore/webhooks/rke2config_test.go
  test/e2e/data/cluster-templates/docker-rke2.yaml
  test/e2e/suites/etcd-snapshot-restore/etcd_snapshot_restore_test.go
  util/annotations/helpers.go
Labels: area/testing, kind/feature

#979 Enable v3 migration by default
  .github/workflows/e2e-long.yaml
  Makefile
  charts/rancher-turtles/questions.yml
  charts/rancher-turtles/templates/deployment.yaml
  charts/rancher-turtles/templates/post-upgrade-job.yaml
  charts/rancher-turtles/values.yaml
  feature/feature.go
  main.go
  test/e2e/specs/migrate_gitops_provv1_mgmtv3.go
  test/e2e/suites/chart-upgrade/chart_upgrade_test.go
  test/e2e/suites/import-gitops/import_gitops_test.go
  test/e2e/suites/import-gitops/suite_test.go
  test/e2e/suites/migrate-gitops/suite_test.go
  test/framework/chartmuseum_helper.go
  test/testenv/turtles.go
Labels: kind/feature

#999 Use eventually() in etcd restore tests
  exp/etcdrestore/webhooks/rke2config_test.go
  internal/sync/secret_sync_test.go
Labels: kind/bug

#1001 fix: bump dependencies with security vulnerabilities
  exp/clusterclass/go.mod
  exp/clusterclass/go.sum
  exp/clusterclass/internal/controller/clusterupgradegroup_controller.go
Labels: area/dependency, kind/security

#1003 Add exp/clusterclass to dependabot.yaml
  .github/dependabot.yaml
Labels: area/dependency, kind/chore

#992 Download Rancher image only once
  scripts/turtles-dev.sh
Labels: kind/chore

#1014 chore: add capg to list of updatecli providers
  updatecli/updatecli.d/manifest.yaml
Labels: kind/cleanup, kind/chore

#1007 ci: Remove incorrect make target
  .github/workflows/nightly-chart-and-image-publish.yaml
Labels: area/ci

#1010 Fix Rancher chart features value
  test/testenv/rancher.go
Labels: kind/bug

#1016 ADR: Self managed Rancher cluster
  docs/adr/0013-self-managed-rancher-cluster.md
Labels: status/adr-required

#1023 chore: cleanup cluster-api-operator features in chart values
  charts/rancher-turtles/questions.yml
  charts/rancher-turtles/templates/post-delete-job.yaml
  charts/rancher-turtles/values.yaml
Labels: kind/chore

#1032 chore: remove rancher-webhook feature from chart
  charts/rancher-turtles/questions.yml
  charts/rancher-turtles/templates/clusterctl-cm-cleanup-job.yaml
  charts/rancher-turtles/templates/post-delete-job.yaml
  charts/rancher-turtles/templates/post-upgrade-job.yaml
  charts/rancher-turtles/templates/pre-delete-job.yaml
  charts/rancher-turtles/templates/pre-install-job.yaml
  charts/rancher-turtles/values.yaml
Labels: kind/cleanup

#1035 🐛 Deploy only required CAPIProviders in e2e
  test/e2e/const.go
  test/e2e/data/capi-operator/aws-provider.yaml
  test/e2e/data/capi-operator/azure-provider.yaml
  test/e2e/data/capi-operator/full-providers.yaml
  test/e2e/data/capi-operator/gcp-provider.yaml
  test/e2e/specs/import_gitops_mgmtv3.go
  test/e2e/suites/import-gitops-v3/import_gitops_v3_test.go
  test/e2e/suites/import-gitops-v3/suite_test.go
  test/testenv/operator.go
  test/testenv/turtles.go
Labels: kind/bug

#1033 Remove rancher-kubeconfigs feature
  .github/workflows/e2e-long.yaml
  charts/rancher-turtles/questions.yml
  charts/rancher-turtles/templates/deployment.yaml
  charts/rancher-turtles/values.yaml
  feature/feature.go
  internal/controllers/import_controller_v3.go
  internal/controllers/patch_kcfg_controller.go
  internal/controllers/patch_kcfg_controller_test.go
  main.go
  test/e2e/suites/update-labels/suite_test.go
  test/e2e/suites/update-labels/update_labels_test.go
Labels: kind/chore

#1038 🌱 Add unit tests for ClusterConfig
  internal/controllers/clusterctl/config_test.go
Labels: area/testing, kind/chore

#1018 feat: add dockerfile cross-compilation for multi-platform images
  Dockerfile
Labels: kind/enhancement, area/build-and-release

#1042 🌱 Fix linter warnings
  exp/clusterclass/internal/controller/clusterupgradegroup_controller.go
  internal/controllers/import_controller_v3_test.go
Labels: kind/cleanup

#1045 feat: Bump CAPI and forks to latest downstream release versions
  exp/etcdrestore/go.mod
  exp/etcdrestore/go.sum
  go.mod
  go.sum
  internal/controllers/clusterctl/config.yaml
  internal/controllers/clusterctl/config_test.go
  internal/sync/provider_sync_test.go
  test/e2e/const.go
  test/go.mod
  test/go.sum
Labels: area/dependency, kind/chore

#1051 fix: Make dev cluster name configurable
  Makefile
  scripts/turtles-dev.sh
Labels: kind/chore

#1055 docs: add post-release step for release notes
  docs/release.md
Labels: kind/documentation, area/build-and-release

#1054 Bumps CAPRKE2 to v0.11
  exp/etcdrestore/go.mod
  exp/etcdrestore/go.sum
  internal/controllers/clusterctl/config.yaml
  internal/controllers/clusterctl/config_test.go
Labels: area/dependency, kind/chore

#1058 docs: add rc to release guide
  docs/release.md
Labels: kind/documentation, area/build-and-release

#1063 fix: remove v1 clusters for migration in post-upgrade job
  charts/rancher-turtles/templates/post-upgrade-job.yaml
Labels: kind/bug, kind/regression, area/chart
