Repository rancher/turtles, pull requests merged in 2025-08, with the labels that each got.

#1582 feat: Add post-upgrade hook that deletes all CAPI Operator provider resources
  charts/rancher-turtles/templates/post-upgrade-job.yaml
  charts/rancher-turtles/values.yaml
Labels: kind/cleanup, area/chart

#1596 Wait for ASO pod to be ready and restart if needed
  test/e2e/suites/import-gitops-v3/import_gitops_v3_test.go
  test/testenv/operator.go
Labels: kind/bug, area/testing

#1595 fix: Make post-upgrade hook idempotent
  charts/rancher-turtles/templates/post-upgrade-job.yaml
Labels: kind/bug, area/chart

#1599 Actualize updatecli manifest
  updatecli/updatecli.d/manifest.yaml
Labels: kind/chore, area/ci

#1600 Bump Turtles and Rancher versions for quickstart
  scripts/turtles-quickstart.sh
Labels: kind/documentation, area/examples

#1601 Implement CAPIProvider EnableAutomaticUpdate toggle
  api/v1alpha1/capiprovider_types.go
  charts/rancher-turtles/templates/addon-provider-fleet.yaml
  charts/rancher-turtles/templates/core-provider.yaml
  charts/rancher-turtles/templates/rancher-turtles-components.yaml
  charts/rancher-turtles/templates/rke2-bootstrap.yaml
  charts/rancher-turtles/templates/rke2-controlplane.yaml
  charts/rancher-turtles/values.schema.json
  charts/rancher-turtles/values.yaml
  config/crd/bases/turtles-capi.cattle.io_capiproviders.yaml
  internal/controllers/operator_reconciler.go
  internal/controllers/operator_reconciler_test.go
  test/e2e/config/operator.yaml
  test/e2e/const.go
  test/e2e/data/test-providers/capv-provider-no-ver.yaml
  test/e2e/data/test-providers/clusterctlconfig-updated.yaml
  test/e2e/data/test-providers/clusterctlconfig.yaml
  test/e2e/data/test-providers/namespace.yaml
  test/e2e/data/test-providers/unknown-provider.yaml
  test/e2e/suites/capiprovider/capiprovider_test.go
  test/e2e/suites/capiprovider/suite_test.go
Labels: kind/enhancement, kind/bug, area/operator

#1662 Fix release notes generation
  Makefile
  hack/make-release-notes.sh
Labels: kind/cleanup, area/ci

#1665 Bump Rancher to latest v2.12.1 patch version
  .github/workflows/test_chart.yaml
  CONTRIBUTING.md
  README.md
  charts/rancher-turtles/Chart.yaml
  internal/controllers/testdata/import_sample.yaml
  scripts/turtles-dev.sh
  scripts/turtles-quickstart.sh
  test/e2e/README.md
  test/e2e/config/operator.yaml
  test/testenv/rancher.go
Labels: area/dependency, kind/spike

#1661 Clarify SOURCE_REPO and GITHUB_HEAD_REF on short e2e tests
  test/e2e/README.md
Labels: area/ci, kind/documentation

#1667 Update test dependencies
  exp/day2/go.mod
  exp/day2/go.sum
  go.mod
  go.sum
  test/go.mod
  test/go.sum
Labels: kind/chore, area/ci
