Repository rancher/turtles, pull requests merged in 2025-10, with the labels that each got.

#1789 chore: Drop CAPRKE2 and CAAPF templates from rancher-turtles chart
  .github/workflows/test_chart.yaml
  charts/rancher-turtles-providers/templates/addon-fleet.yaml
  charts/rancher-turtles-providers/templates/bootstrap-rke2.yaml
  charts/rancher-turtles/templates/addon-provider-fleet.yaml
  charts/rancher-turtles/templates/azure-rbac.yaml
  charts/rancher-turtles/templates/post-delete-job.yaml
  charts/rancher-turtles/templates/rke2-bootstrap.yaml
  charts/rancher-turtles/templates/rke2-controlplane.yaml
  charts/rancher-turtles/values.yaml
  internal/controllers/clusterctl/config-prime.yaml
  test/e2e/suites/chart-upgrade/chart_upgrade_test.go
  test/framework/turtles.go
Labels: kind/chore, area/chart

#1793 feat: remove embedded capi
  charts/rancher-turtles/templates/pre-install-job.yaml
  scripts/turtles-dev.sh
  test/e2e/const.go
  test/e2e/data/rancher/pre-turtles-install.yaml
  test/testenv/turtles.go
Labels: kind/cleanup, area/installation

#1799 [release/v0.25] remove clusterclass-operations from values.yaml
  charts/rancher-turtles/values.yaml
Labels: kind/cleanup, area/operator

#1800 remove clusterclass-operations from values.yaml
  charts/rancher-turtles/values.yaml
Labels: kind/cleanup, area/operator
