Repository rancher/turtles, pull requests merged in 2025-02, with the labels that each got.

#1067 fix: Delete ETCDMachineSnapshot resources if their corresponding snapshot gets deleted
  exp/etcdrestore/controllers/etcdsnapshotsync_controller.go
  exp/etcdrestore/controllers/snapshotters/rke2snapshotter.go
  exp/etcdrestore/main.go
Labels: kind/bug, area/etcdsnapshot-restore

#1065 🌱 Remove migration code and e2e tests
  charts/rancher-turtles/templates/post-upgrade-job.yaml
  test/e2e/specs/migrate_gitops_provv1_mgmtv3.go
  test/e2e/suites/migrate-gitops/migrate_gitops_provv1_mgmtv3_test.go
  test/e2e/suites/migrate-gitops/suite_test.go
Labels: kind/cleanup, kind/chore

#1073 feat: Alow user to enable/disable day 2 operations from Rancher UI
  Makefile
  charts/rancher-turtles/questions.yml
  charts/rancher-turtles/templates/rancher-turtles-exp-day2-components.yaml
  charts/rancher-turtles/templates/rancher-turtles-exp-day2-deployment.yaml
  charts/rancher-turtles/values.yaml
  exp/day2/config/chart/kustomization.yaml
  exp/day2/config/chart/kustomizeconfig.yaml
  exp/day2/config/chart/manager_role_aggregation_patch.yaml
  exp/day2/config/chart/webhookcainjection_patch.yaml
  exp/day2/feature/feature.go
  exp/day2/feature/gates.go
  exp/day2/main.go
  scripts/turtles-dev.sh
  test/e2e/suites/etcd-snapshot-restore/suite_test.go
Labels: kind/feature, area/chart

#1077 fix: Add readiness/liveness check
  exp/day2/main.go
Labels: kind/bug, area/day2operations

#1086 Use fixed version of local modules in e2e suite
  test/go.mod
Labels: kind/chore

#1107 🌱 Support for CAPI v1.9.5 and CAPI Operator v0.17.0
  Makefile
  charts/rancher-turtles/Chart.yaml
  exp/day2/go.mod
  exp/day2/go.sum
  go.mod
  go.sum
  internal/controllers/clusterctl/config_test.go
  test/go.mod
  test/go.sum
Labels: area/dependency, kind/chore

#1108 Update e2e templates
  test/e2e/config/operator.yaml
  test/e2e/data/cluster-templates/aws-eks-mmp.yaml
  test/e2e/data/cluster-templates/azure-aks-topology.yaml
  test/e2e/data/cluster-templates/docker-kubeadm.yaml
  test/e2e/data/cluster-templates/docker-rke2.yaml
  test/e2e/data/cluster-templates/gcp-gke.yaml
  test/e2e/data/cluster-templates/vsphere-kubeadm.yaml
  test/e2e/data/cluster-templates/vsphere-rke2.yaml
Labels: area/testing
