Repository rancher/turtles, pull requests merged in 2025-03, with the labels that each got.

#1117 Wait for rancher kubeconfig to be fetched in e2e
  test/e2e/specs/import_gitops_mgmtv3.go
  test/e2e/suites/v2prov/v2prov_test.go
  test/framework/rancher_helpers.go
Labels: area/testing

#1122 test: set gcp region before executing test suite
  .github/workflows/run-e2e-suite.yaml
  test/e2e/config/operator.yaml
  test/e2e/const.go
  test/e2e/specs/import_gitops_mgmtv3.go
Labels: kind/bug, area/testing

#1102 Bump versions of k8s, Rancher and tooling dependencies
  .github/workflows/ci.yaml
  .github/workflows/test_chart.yaml
  Makefile
  charts/rancher-turtles/Chart.yaml
  config/chart/kustomization.yaml
  config/crd/kustomizeconfig.yaml
  config/default/kustomization.yaml
  config/rbac/kustomization.yaml
  config/rbac/manager_role_aggregation_patch.yaml
  exp/README.md
  exp/clusterclass/config/crd/kustomizeconfig.yaml
  exp/clusterclass/config/default/kustomization.yaml
  exp/clusterclass/config/rbac/kustomization.yaml
  exp/day2/config/certmanager/certificate.yaml
  exp/day2/config/certmanager/kustomizeconfig.yaml
  exp/day2/config/chart/kustomization.yaml
  exp/day2/config/chart/kustomizeconfig.yaml
  exp/day2/config/chart/webhookcainjection_patch.yaml
  exp/day2/config/crd/kustomizeconfig.yaml
  exp/day2/config/default/kustomization.yaml
  exp/day2/config/default/kustomizeconfig.yaml
  exp/day2/config/default/manager_webhook_patch.yaml
  exp/day2/config/default/webhookcainjection_patch.yaml
  exp/day2/config/rbac/kustomization.yaml
  exp/day2/config/webhook/kustomizeconfig.yaml
  hack/ensure-kubectl.sh
  internal/controllers/testdata/import_sample.yaml
  scripts/kind-cluster-with-extramounts.yaml
  scripts/turtles-dev.sh
  test/e2e/README.md
  test/e2e/config/operator.yaml
  test/e2e/suites/chart-upgrade/chart_upgrade_test.go
  test/testenv/rancher.go
Labels: area/dependency, kind/chore

#1127 test: Ensure CAPV tests have the correct providers set up
  test/e2e/README.md
  test/e2e/data/capi-operator/capv-variables.yaml
  test/e2e/suites/import-gitops-v3/import_gitops_v3_test.go
Labels: kind/bug, area/testing, area/vsphere

#1121 Add Azure + RKE2 ClusterClass example
  examples/applications/azure/clusterresourceset-cloud-provider.yaml
  examples/clusterclasses/azure/clusterclass-example.yaml
Labels: kind/enhancement, area/documentation

#1129 ci: Add workflow for self-hosted runner
  .github/workflows/e2e-self-hosted.yaml
  test/e2e/README.md
  test/e2e/config/operator.yaml
Labels: kind/chore, area/vsphere, area/ci

#1128 🐛 Rename `CPI_IMAGE_VERSION` variable to `CPI_IMAGE_K8S_VERSION`
  test/e2e/config/operator.yaml
Labels: kind/bug

#1135 ci: Add missing CAPV template vars
  .github/workflows/e2e-self-hosted.yaml
  test/e2e/config/operator.yaml
Labels: kind/chore, area/vsphere, area/ci

#1111 Add Rancher Turtles quickstart script
  scripts/turtles-quickstart.sh
Labels: kind/enhancement, area/documentation

#1141 📖 Clarify e2e workspace setup
  go.work.example
  test/e2e/README.md
Labels: area/documentation

#1153 Set `GH_TOKEN` env variable to properly generate `RELEASE_NOTES.md` file
  .github/workflows/nightly-chart-and-image-publish.yaml
  .github/workflows/nightly-test-release.yaml
  .github/workflows/release-workflow.yaml
  .github/workflows/test_chart.yaml
Labels: area/build-and-release

#1142 Add Azure + RKE2 ClusterClass e2e test
  examples/applications/azure/clusterresourceset-cloud-provider.yaml
  examples/clusterclasses/azure/clusterclass-example.yaml
  test/e2e/const.go
  test/e2e/data/capi-operator/capz-identity-secret.yaml
  test/e2e/data/cluster-templates/azure-aks-topology.yaml
  test/e2e/data/cluster-templates/azure-rke2-topology.yaml
  test/e2e/helpers.go
  test/e2e/specs/etcd_snapshot_restore.go
  test/e2e/specs/import_gitops_mgmtv3.go
  test/e2e/suites/import-gitops-v3/import_gitops_v3_test.go
  test/framework/apply.go
Labels: area/testing

#1158 Switch CAPD+Kubeadm test to clusterclass in e2e
  test/e2e/data/cluster-templates/docker-kubeadm.yaml
  test/e2e/data/cni/kindnet.yaml
  test/e2e/suites/import-gitops-v3/suite_test.go
Labels: area/testing

#1155 Switch CAPD+RKE2 e2e template to clusterclass
  test/e2e/config/operator.yaml
  test/e2e/data/cluster-templates/aws-ec2-kubeadm.yaml
  test/e2e/data/cluster-templates/docker-kubeadm.yaml
  test/e2e/data/cluster-templates/docker-rke2.yaml
  test/e2e/data/cni/kindnet.yaml
  test/e2e/specs/etcd_snapshot_restore.go
  test/e2e/specs/import_gitops_mgmtv3.go
  test/e2e/suites/etcd-snapshot-restore/etcd_snapshot_restore_test.go
Labels: area/testing

#1161 Refactor e2e cleanup behavior for SKIP_RESOURCE_CLEANUP and SkipDeletionTest
  .github/workflows/e2e-long.yaml
  .github/workflows/run-e2e-suite.yaml
  test/e2e/README.md
  test/e2e/config/operator.yaml
  test/e2e/const.go
  test/e2e/helpers.go
  test/e2e/specs/etcd_snapshot_restore.go
  test/e2e/specs/import_gitops_mgmtv3.go
  test/e2e/suites/chart-upgrade/suite_test.go
  test/e2e/suites/etcd-snapshot-restore/etcd_snapshot_restore_test.go
  test/e2e/suites/etcd-snapshot-restore/suite_test.go
  test/e2e/suites/import-gitops-v3/import_gitops_v3_test.go
  test/e2e/suites/import-gitops-v3/suite_test.go
  test/e2e/suites/v2prov/suite_test.go
  test/testenv/cleanup.go
Labels: area/testing

#1175 Add clusterName in GCPManagedControlPlaneSpec e2e template
  test/e2e/data/cluster-templates/gcp-gke.yaml
Labels: area/ci, area/capg

#1170 Embed example clusterclasses in e2e suite
  examples/examples.go
  test/e2e/helpers.go
  test/e2e/specs/etcd_snapshot_restore.go
  test/e2e/specs/import_gitops_mgmtv3.go
  test/e2e/suites/import-gitops-v3/import_gitops_v3_test.go
Labels: area/testing

#1169 Fix e2e Cluster deletion failures
  test/e2e/specs/import_gitops_mgmtv3.go
  test/go.mod
  test/go.sum
Labels: area/testing

#1168 Ensure PR/Issues have labels and description
  .github/workflows/ensure-issues-labels-desc.yaml
  .github/workflows/ensure-pr-labels.yaml
Labels: area/chore

#1183 Organize dependabot groups
  .github/dependabot.yaml
Labels: kind/cleanup

#1171 Use Calico CNI and Azure CCM for Azure e2e
  Makefile
  charts/rancher-turtles/templates/addon-provider-fleet.yaml
  examples/applications/ccm/azure/helm-chart.yaml
  examples/applications/cni/calico/fleet.yaml
  examples/applications/cni/calico/targets.yaml
  examples/clusterclasses/azure/clusterclass-example.yaml
  test/e2e/config/operator.yaml
  test/e2e/data/cluster-templates/azure-aks-topology.yaml
  test/e2e/data/cluster-templates/azure-rke2-topology.yaml
  test/e2e/helpers.go
  test/e2e/specs/import_gitops_mgmtv3.go
  test/e2e/suites/import-gitops-v3/import_gitops_v3_test.go
  test/framework/fleet_helper.go
  test/framework/git_helper.go
Labels: kind/cleanup, area/ci

#1163 :seedling: Add new management cluster environment option
  .envrc.example
  .github/workflows/e2e-self-hosted.yaml
  test/e2e/README.md
  test/e2e/const.go
  test/e2e/data/gitea/ingress.yaml
  test/e2e/data/rancher/ingress-nginx-lb.yaml
  test/e2e/suites/chart-upgrade/suite_test.go
  test/e2e/suites/import-gitops-v3/import_gitops_v3_test.go
  test/e2e/suites/import-gitops-v3/suite_test.go
  test/go.mod
  test/testenv/bootstrapclusterproviders.go
  test/testenv/gitea.go
  test/testenv/rancher.go
  test/testenv/setupcluster.go
Labels: kind/chore, area/ci

#1208 CAPI-UI installation fix
  charts/rancher-turtles/values.yaml
  updatecli/updatecli.d/manifest.yaml
Labels: kind/bug, area/chart

#1203 Use HelmApp for installing Calico on example Class
  examples/applications/ccm/azure/helm-chart.yaml
  examples/applications/cni/calico/fleet.yaml
  examples/applications/cni/calico/helm-chart.yaml
  examples/clusterclasses/azure/clusterclass-rke2-example.yaml
  examples/examples.go
  scripts/turtles-dev.sh
  test/e2e/config/operator.yaml
  test/e2e/data/cluster-templates/azure-rke2-topology.yaml
  test/e2e/suites/import-gitops-v3/import_gitops_v3_test.go
  test/testenv/rancher.go
Labels: kind/enhancement, area/documentation, area/ci

#1214 Keep fleet addon CAPIProvider name
  charts/rancher-turtles/templates/addon-provider-fleet.yaml
  internal/controllers/clusterctl/config.yaml
Labels: kind/bug, area/fleet

#1218 Fix missing AWS EC2 ConfigMaps
  test/e2e/suites/import-gitops-v3/import_gitops_v3_test.go
Labels: kind/bug, area/testing, area/ci

#1221 Fix nightly GHA inputs referenced in e2e_import_gitops_v3 test
  .github/workflows/e2e-long.yaml
Labels: kind/bug, area/ci

#1230 Bump CAAPF to version `v0.7.4`
  internal/controllers/clusterctl/config.yaml
Labels: area/dependency, kind/chore
