Repository rancher/turtles, pull requests merged in 2025-07, with the labels that each got.

#1499 📖 Document a missing pre documentation publishing step
  docs/release.md
Labels: area/build-and-release, kind/documentation

#1498 chore: bump cluster-api-provider-gcp to v1.10.0
  internal/controllers/clusterctl/config.yaml
Labels: kind/chore, area/capg

#1514 Fix panic on nil error in `defaultToCurrentGitRepo`
  test/framework/git_helper.go
Labels: kind/bug, ok-to-test, area/ci

#1511 Embed CAPI Operator reconcile inside turtles pod
  .github/workflows/test_chart.yaml
  Makefile
  charts/rancher-turtles/Chart.yaml
  charts/rancher-turtles/questions.yml
  charts/rancher-turtles/templates/clusterctl-config.yaml
  charts/rancher-turtles/templates/deployment.yaml
  charts/rancher-turtles/templates/operator-crds.yaml
  charts/rancher-turtles/values.schema.json
  charts/rancher-turtles/values.yaml
  config/operator/bases/operator_role.yaml
  config/operator/kustomization.yaml
  feature/feature.go
  go.mod
  go.sum
  internal/controllers/operator_reconciler.go
  internal/controllers/provider_health_check_reconciler.go
  main.go
  scripts/turtles-dev.sh
  test/e2e/suites/chart-upgrade/chart_upgrade_test.go
  test/e2e/suites/import-gitops-v3/suite_test.go
  test/e2e/suites/v2prov/suite_test.go
  test/framework/turtles.go
Labels: kind/enhancement, ok-to-test, area/operator

#1524 Fix dev-env not deploying embedded CAPI operator
  config/capiproviders/bootstrap.yaml
  config/capiproviders/controlplane.yaml
  config/capiproviders/core.yaml
  config/capiproviders/kustomization.yaml
  scripts/turtles-dev.sh
Labels: kind/cleanup, area/testing

#1531 Revert "Use OCI artifacts for CAPI providers (#1429)"
  test/e2e/const.go
  test/e2e/data/capi-operator/capi-providers-oci.yaml
  test/e2e/data/capi-operator/gcp-provider.yaml
  test/e2e/suites/import-gitops-v3/import_gitops_v3_test.go
  test/framework/kube_helper.go
  test/go.mod
  test/go.sum
  test/testenv/operator.go
Labels: kind/bug, area/testing

#1526 Use control-plane-endpoint RKE2 registrationMethod with Azure
  examples/clusterclasses/azure/rke2/clusterclass-rke2-example.yaml
  test/e2e/data/cluster-templates/azure-rke2-topology.yaml
Labels: kind/enhancement, area/capz

#1527 Remove CAPIO from updatecli
  updatecli/updatecli.d/manifest.yaml
Labels: kind/cleanup, area/operator

#1534 Add CAPIProvider architecture ADR
  docs/adr/0015-capiprovider-architecture.md
Labels: area/documentation, kind/documentation

#1539 Add vSphere e2e Slack alert on failure
  .github/workflows/run-vsphere-tests.yaml
Labels: kind/enhancement, area/ci

#1541 Remove deprecated bootstrap-config-gvk capz argument
  internal/sync/azure_provider_sync.go
  internal/sync/provider_sync_test.go
Labels: kind/cleanup, area/capz

#1550 Wait for mounted clusterctl config to be synced
  internal/controllers/clusterctl/config.go
  internal/controllers/clusterctl/config.yaml
  internal/controllers/clusterctlconfig_controller.go
  internal/controllers/operator_reconciler.go
  scripts/turtles-dev.sh
  test/e2e/const.go
  test/e2e/data/capi-operator/clusterctlconfig.yaml
  test/testenv/operator.go
  test/testenv/turtles.go
Labels: kind/bug, area/operator

#1552 Fix capd e2e test image override
  test/e2e/data/capi-operator/clusterctlconfig.yaml
Labels: kind/bug, area/ci

#1564 Mount clusterctl cm in Tilt environment
  tilt/project/Tiltfile
Labels: kind/bug, area/installation

#1556 CAPIProvider as operator reconciler
  Makefile
  api/v1alpha1/capiprovider_wrapper.go
  api/v1alpha1/provider_types.go
  charts/rancher-turtles/templates/deployment.yaml
  charts/rancher-turtles/templates/operator-crds.yaml
  charts/rancher-turtles/templates/rancher-turtles-components.yaml
  config/manager/manager.yaml
  config/operator/bases/operator.cluster.x-k8s.io_addonproviders.yaml
  config/operator/bases/operator.cluster.x-k8s.io_bootstrapproviders.yaml
  config/operator/bases/operator.cluster.x-k8s.io_controlplaneproviders.yaml
  config/operator/bases/operator.cluster.x-k8s.io_coreproviders.yaml
  config/operator/bases/operator.cluster.x-k8s.io_infrastructureproviders.yaml
  config/operator/bases/operator.cluster.x-k8s.io_ipamproviders.yaml
  config/operator/bases/operator.cluster.x-k8s.io_runtimeextensionproviders.yaml
  config/operator/kustomization.yaml
  config/operator/patches/keep-crds.yaml
  config/rbac/role.yaml
  exp/day2/go.mod
  exp/day2/go.sum
  go.mod
  go.sum
  internal/controllers/import_controller_v3.go
  internal/controllers/operator_reconciler.go
  internal/controllers/provider_health_check_reconciler.go
  internal/controllers/sync_controller.go
  internal/controllers/sync_controller_test.go
  internal/sync/azure_provider_sync.go
  internal/sync/gcp_provider_sync.go
  internal/sync/interface.go
  internal/sync/provider_sync.go
  internal/sync/provider_sync_test.go
  internal/sync/secret_sync.go
  internal/sync/secret_sync_test.go
  main.go
  test/go.mod
  test/go.sum
  updatecli/updatecli.d/manifest.yaml
Labels: kind/enhancement, area/api

#1549 Cleanup vsphere self-hosted runner
  .github/workflows/run-vsphere-tests.yaml
Labels: kind/cleanup, area/ci, kind/ci

#1581 chore: bump cluster-api-provider-rke2 to v0.18.1
  exp/day2/go.mod
  exp/day2/go.sum
  internal/controllers/clusterctl/config.yaml
Labels: kind/chore, area/caprke2
